.eye-btn {
    border: none;
    background-color: transparent;
}
.eye-btn svg {}
.squareBox.spcNoImage{
    border-color: #c3272a;
    background: url('../img/iconImg.png') 11px 7px no-repeat;
}
.squareBox.spcSetImage{
    background: url('../img/iconImg.png') -41px 7px no-repeat !important;
}

.noImage img{
    display: none !important;
}
.noImage img.eye_icon{
    display: block !important;
}
.noImage .spheresList li span{
    background-image: none !important;
}

.blackAndWhite{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.blackAndWhiteInvert,
.blackAndWhiteInvert img,
.blackAndWhiteInvert embed,
.blackAndWhiteInvert video{
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    -ms-filter: grayscale(100%) invert(100%);
    -o-filter: grayscale(100%) invert(100%);
    filter: grayscale(100%) invert(100%);
}
.icon_accessibility:hover{
    cursor: pointer;
}

.specialViewArea{
    padding: 10px 20px 20px 20px;
    width: 265px;
    left: 0;
    top: 60px;
    color: #000;
}
.appearance {
    margin-bottom: 10px;
    clear: both;
    display: table;
    width: 100%;
}
.squareBox {
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 27px;
    cursor: pointer;
    color: #ffffff;
}
.squareAppearances {
    float: left;
    margin-right: 10px;
}
.squareBox.spcNormal {
    background: rgba(2, 46, 113, 1);
}
.squareBox.spcWhiteAndBlack {
    background: rgba(130, 130, 130, 1);
}
.squareBox.spcDark {
    background: rgba(62, 62, 62, 1);
}
.fontSmaller {
    font-size: 24px;
}
.fontBigger {
    font-size: 26px;
}

.defaultSlider {
    height: 4px !important;
    background: #b7b7b7;
    border: none;
}
.defaultSlider span {
    border-radius: 50%;
    outline: none;
    background: #ffffff  !important;
    cursor: pointer !important;
    width: 25px !important;
    height: 25px !important;
    top: -11px !important;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -o-box-shadow: 0px 0px 5px #ccc;
    -ms-border-shadow: 0px 0px 5px #ccc;
    /*cursor: pointer !important;*/
    margin-bottom: 10px;
}
.sliderZoom{
    margin: 15px 0 20px 0;
}
.sliderText{
    margin-bottom: 20px;
}
.defaultSlider span:focus, .defaultSlider span:hover {
    border-color: #d3d3d3;
}
.defaultSlider .ui-slider-range {
    background: rgba(2, 46, 113, 1);
}

.speciel_box span{
    border-bottom: 1px solid #333333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
}
.speciel_box{
    display: inline-block;
    color: #333333 !important;
}
.specialBoxList{
    display: inline-block;
    margin: 0 0 0 28px;
}
.specialBoxList li{
    list-style: none;
    display: inline-block;
}
.specialBoxList li a{
    color: #fff;
    display: inline-block;
}
.specialBoxList li a span{
    position: relative;
    top: -23px;
    width: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 40px;
    line-height: 1.3;
}
.specialBoxList li:hover a{
    text-decoration: underline;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.specialBoxList li i{
    position: relative;
    font-size: 16px;
    margin: 0 10px 0 5px;
    color: #545454;
}