<template>
    <page :title="detail.category"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <submenu></submenu>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        <div class="detail-date" v-if="false">
                            <span>{{ detail.date }}</span>
                        </div>
                        <div class="detail-title">
                            <span>{{ detail.title }}</span>
                        </div>
                        <div class="detail-description" v-if="detail.description">
                            <span>{{ detail.description }}</span>
                        </div>
                        <div class="detail-image" v-if="detail.body_image">
                            <div class="owl-carousel owl-theme">

                                <div class="item" v-for="(tag, index) in split(detail.body_image)" :key="index">
                                    <div class="detail-image-in">
                                        <img :src="`${api_url}${tag}`" alt="uzinfocom">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="detail-content">
                            <div v-html="detail.content"></div>
                        </div>
                        <div class="accordion mt-3" id="example">

                          <template v-for="(detail, index) in finans" :key="index">
                          
                            <div class="accordion-item">
                              <h2 class="accordion-header" :id="`ih-${detail.id}`">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="`#id-${detail.id}`" aria-expanded="false" :aria-controls="`id-${detail.id}`">
                                  {{ detail.year }}
                                </button>
                              </h2>
                              <div :id="`id-${detail.id}`" class="accordion-collapse collapse" :aria-labelledby="`ih-${detail.id}`" data-bs-parent="#example">
                                <div class="accordion-body">
                                  <ul class="list-group">
                                    <li class="list-group-item" v-if="detail.first_quarter">
                                      <div class="fw-bold mb-2 mt-2">{{ $translate('First Quarter') }}</div>
                                      <template v-for="(tag, index) in split(detail.first_quarter)" :key="index">
                                        <a :href="`${api_url}${tag}`" class="finans-link list-group-item list-group-item-action" target="_blank">{{ tag.slice(22).replace('.pdf', '') }}</a>
                                      </template>
                                    </li>
                                    <li class="list-group-item" v-if="detail.second_quarter">
                                      <div class="fw-bold mb-2 mt-2">{{ $translate('Second Quarter') }}</div>
                                      <template v-for="(tag, index) in split(detail.second_quarter)" :key="index">
                                        <a :href="`${api_url}${tag}`" class="finans-link list-group-item list-group-item-action" target="_blank">{{ tag.slice(22).replace('.pdf', '') }}</a>
                                      </template>
                                    </li>
                                    <li class="list-group-item" v-if="detail.third_quarter">
                                      <div class="fw-bold mb-2 mt-2">{{ $translate('Third Quarter') }}</div>
                                      <template v-for="(tag, index) in split(detail.third_quarter)" :key="index">
                                        <a :href="`${api_url}${tag}`" class="finans-link list-group-item list-group-item-action" target="_blank">{{ tag.slice(22).replace('.pdf', '') }}</a>
                                      </template>
                                    </li>
                                    <li class="list-group-item" v-if="detail.fourth_quarter">
                                      <div class="fw-bold mb-2 mt-2">{{ $translate('Fourth Quarter') }}</div>
                                      <template v-for="(tag, index) in split(detail.fourth_quarter)" :key="index">
                                        <a :href="`${api_url}${tag}`" class="finans-link list-group-item list-group-item-action" target="_blank">{{ tag.slice(22).replace('.pdf', '') }}</a>
                                      </template>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                          </template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>
import page from '@/components/page.vue'
import axios from 'axios'
import i18n from '@/i18n'
import myfooter from '@/components/myfooter.vue'
import submenu from '@/components/submenu.vue'

export default {
    name: 'detail',
    components: {
        page,
        myfooter,
        submenu
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            id: this.$route.params.id,
            detail: new Object(),
            finans: Array(),
        }
    },
    methods: {
        get_detail() {
          axios
            .get(`${this.api_url}/api/pages/${this.id}?lang=${this.lang}`)
            .then((response) => {
                this.detail = response.data.data;
                // console.log(response.data.data);
            })
            .catch((error) => {
                console.log(error);
            })
            .finally(() => {
                this.home();
            })
        },
        get_finans() {
          axios
            .get(`${this.api_url}/api/finances`)
            .then((response) => {
                this.finans = response.data.data;
                // console.log(response.data.data);
            })
            .catch((error) => {
                console.log(error);
            })
            .finally(() => {
                this.home();
            })
        },
        home() {
          $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            dots: true,
            autoHeight: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:1
                }
            }
          })
        },
        split(text) {
          return text.split(",");
        },
    },
    computed: {},
    mounted() {
      this.get_detail();
      this.get_finans();
    },
}
</script>