<template>
    <page :title="$translate('Contact')"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <submenu></submenu>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        <div class="row">
                            <div class="col-xxl-6">
                                <div class="sertificate-title">
                                    <span>{{ $translate("Contact") }}</span>
                                </div>
                                <div class="address-date">
                                    <div class="address-left">
                                        <img src="/img/address-1.svg" alt="address">
                                    </div>
                                    <div class="address-right">
                                        <div class="address-title">
                                            <span>{{ $translate("Address") }}</span>
                                        </div>
                                        <div class="mt-1" v-html="detail.address"></div>
                                    </div>
                                </div>
                                <div class="address-date">
                                    <div class="address-left">
                                        <img src="/img/address-2.svg" alt="address">
                                    </div>
                                    <div class="address-right">
                                        <div class="address-title">
                                            <span>{{ $translate("Transport") }}</span>
                                        </div>
                                        <div class="mt-1" v-html="detail.transport"></div>
                                    </div>
                                </div>
                                <div class="address-date">
                                    <div class="address-left">
                                        <img src="/img/address-3.svg" alt="address">
                                    </div>
                                    <div class="address-right">
                                        <div class="address-title">
                                            <span>{{ $translate("Chancellery") }}</span>
                                        </div>
                                        <div class="mt-1">
                                            <a :href="`tel:${detail.phone}`">{{ detail.phone }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="address-date">
                                    <div class="address-left">
                                        <img src="/img/address-3.svg" alt="address">
                                    </div>
                                    <div class="address-right">
                                        <div class="address-title">
                                            <span>{{ $translate("Call centre") }}</span>
                                        </div>
                                        <div class="mt-1">
                                            <a :href="`tel:${detail.phone}`">{{ detail.phone2 }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="address-date">
                                    <div class="address-left">
                                        <img src="/img/address-4.svg" alt="address">
                                    </div>
                                    <div class="address-right">
                                        <div class="address-title">
                                            <span>{{ $translate("Email") }}</span>
                                        </div>
                                        <div class="mt-1">
                                            <a :href="`mailto:${detail.email}`">{{ detail.email }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="address-date">
                                    <div class="address-left">
                                        <img src="/img/address-5.svg" alt="address">
                                    </div>
                                    <div class="address-right">
                                        <div class="address-title">
                                            <span>{{ $translate("Working time") }}</span>
                                        </div>
                                        <div class="mt-1" v-html="detail.working_time"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6">
                                <div class="map-out">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>
import page from '@/components/page.vue'
import axios from 'axios'
import i18n from '@/i18n'
import myfooter from '@/components/myfooter.vue'
import submenu from '@/components/submenu.vue'
import leafletjs from "../../public/js/leaflet"

export default {
    name: 'contact',
    components: {
        page,
        myfooter,
        submenu
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            detail: new Object(),
        }
    },
    methods: {
        get_detail() {
            axios
                .get(`${this.api_url}/api/contact?lang=${this.lang}`)
                .then((response) => {
                    this.detail = response.data.data;
                    let x = response.data.data.latitude;
                    let y = response.data.data.longitude;
                    this.location(x, y);
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
        location(x, y) {
            var map = L.map('map', { center: [x, y], zoom: 13 });
            let open_street = L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
            let google_street = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {subdomains:['mt0','mt1','mt2','mt3']});
            let google_satellite = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}' , {subdomains:['mt0','mt1','mt2','mt3']});
            let google_hybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {subdomains:['mt0','mt1','mt2','mt3']});
            L.marker([x, y]).addTo(map);

            let baseMaps = {
                "Open Street Map": open_street,
                "Google Streets": google_street,
                "Google Satellite": google_satellite,
                "Google Hybrid": google_hybrid,
            };

            google_street.addTo(map);

            L.control.layers(baseMaps, null, {}).addTo(map);

        },
    },
    computed: {},
    mounted() {
        this.get_detail();
    },
}
</script>
