<template>
    <span>{{ $translate('Pages') }}</span>
</template>

<script>
export default {
    name: 'help',
    props: {},
    components: {},
    data() {
        return {}
    },
    methods: {},
    computed: {},
    mounted() {},
}
</script>