<template>
  <main>
    <section class="banner">
      <div class="b-container">
        <myheader></myheader>
        <div class="row">
          <div class="col-xl-6">
            <div class="banner-left">
              <div class="uzinfocom">
                <div class="uzinfocom-in">
                  <div class="uzinfocom-title">
                    <span>{{ $translate('welcome to') }}</span>
                  </div>
                  <div class="uzinfocom-svg">
                    <img src="/img/uzinfocom.svg" alt="uzinfocom">
                  </div>
                  <div class="uzinfocom-description">
                    <span v-html="$translate('Single integrator for the creation and support of public information systems')"></span>
                  </div>
                </div>
              </div>
              <div class="servive">
                <div class="row">

                  <template v-for="detail in directions" :key="detail.id">
                    <div class="col-md-6 service-col">
                      <div class="service-out">
                        <div class="service-in">
                          <div class="service-icon">
                            <img :src="`${api_url}${detail.anons_image}`" alt="service">
                          </div>
                          <div class="service-title">
                            <span v-html="detail.title"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </template>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="banner-right">
              <div class="project">
                <div class="project-row">
                  
                  <template v-for="(detail, index) in projects" :key="detail.id">
                    
                    <template v-if="detail.type == 1">
                      <div :class="`project-col icon id-${index + 1}`">
                        <router-link :to="`/${lang}/projects/${detail.id}`">
                          <div class="project-in">
                            <div class="project-after"></div>
                            <div class="project-img">
                              <img :src="`${api_url}${detail.image}`" alt="projects">
                            </div>
                            <div class="project-name">
                              <span>{{ detail.title }}</span>
                            </div>
                          </div>
                        </router-link>
                      </div>
                    </template>

                    <template v-if="detail.type == 2">
                      <div :class="`project-col color id-${index + 1}`">
                        <div class="project-in">
                          <div class="project-after"></div>
                          <div class="project-img"></div>
                        </div>
                      </div>
                    </template>

                    <template v-if="detail.type == 3">
                      <div :class="`project-col null id-${index + 1}`">
                        <div class="project-in">
                          <div class="project-after"></div>
                          <div class="project-img"></div>
                        </div>
                      </div>
                    </template>
                    
                  </template>

                  <div class="project-all icon">
                    <router-link :to="{ name: 'projects', params: { id: 0 } }">
                      <div class="position-category">
                        <div class="project-category-in">
                          <span>{{ $translate('Projects') }}</span>
                        </div>
                      </div>
                    </router-link>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="works">
      <div class="container">
        <div class="row justify-content-center">

          <template v-for="detail in statistics" :key="detail.id">
            <div class="col-xxl-3 col-xl-4 col-md-6">
              <div class="works-col">
                <div class="works-left">
                  <img :src="`${api_url}${detail.image}`" alt="work" />
                </div>
                <div class="works-right">
                  <div class="works-right-top">
                    <span v-bind:data-count="detail.count" :data-text="separate_number(detail.count)">0</span>
                  </div>
                  <div class="works-right-bottom">
                    <span>{{ detail.title }}</span>
                  </div>
                </div>
              </div>
            </div>
          </template>
          
        </div>
      </div>
    </section>
    
    <section class="job">
      <div class="container">
        <div class="job-name">
          <span>{{ $translate("Corporate values") }}</span>
        </div>
        <div class="row">
          <div class="col-xl-8 col-lg-6">
            <div class="row">

              <template v-for="detail in corporates" :key="detail.id">
                <div class="col-xl-6">
                  <div class="job-col">
                    <div class="job-left">
                      <div class="job-left-img">
                        <img src="/img/right-circle.svg" alt="job" />
                      </div>
                      <div class="job-left-text">
                        <span v-html="detail.title"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </template>

            </div>
          </div>
          <div class="col-xl-4 col-lg-6 position-relative">
            <div class="job-right">
              <div class="job-right-name">
                <span>{{ $translate("Why choose us?") }}</span>
              </div>

              <template v-for="detail in choose" :key="detail.id">
                <div class="job-right-in">
                  <div class="job-right-img">
                    <img :src="`${api_url}${detail.anons_image}`" alt="job" />
                  </div>
                  <div class="job-right-text">
                    <span v-html="detail.title"></span>
                  </div>
                </div>
              </template>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="pm">
      <div class="owl-pm">
        <div class="owl-carousel owl-theme">

          <template v-for="detail in pm" :key="detail.id">
            <div class="item">
              <div class="pm-out">
                <div class="pm-image">
                  <img :src="`${api_url}${detail.body_image}`" alt="pm">
                </div>
                <div class="pm-in" :style="`background-color:${detail.color}`">
                  <div class="pm-content">
                    <div class="pm-title">
                      <a :href="`http://${detail.link}`" target="_blank">{{ detail.title }}</a>
                    </div>
                    <div class="pm-description">
                      <span>{{ detail.description }}</span>
                    </div>
                  </div>
                  <div class="pm-logo-link">
                    <div class="pm-logo">
                      <img :src="`${api_url}${detail.image}`" alt="pm">
                    </div>
                    <div class="pm-link">
                      <a :href="`http://${detail.link}`" target="_blank">{{ $translate("Go to the site") }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>

        </div>
      </div>
    </section>
    
    <section class="branch">
      <div class="container">
        <div class="row">
          <div class="col-xl-4">
            <div class="branch-left">
              <div class="branch-title">
                <span>{{ $translate("Structure and activities") }}</span>
              </div>
              <div class="branch-image">
                <img src="/img/branch.svg" alt="branch">
              </div>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="row branch-right">
              
              <template v-for="(detail, index) in branch" :key="detail.id">
                <div class="col-lg-6 branch-col">
                  <div class="branch-detail">
                    <div class="branch-number">
                      <span>{{ index + 1 }}</span>
                    </div>
                    <div class="branch-name">
                      <span>{{ detail.title }}</span>
                    </div>
                  </div>
                </div>
              </template>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="video">
      <div class="container">
        <div class="video-in">
          <video style="border-radius: 25px;" :src="`${api_url}${video.video}`" controls muted autoplay loop></video>
        </div>
      </div>
    </section>

    <section class="news">
      <div class="container">
        <div class="news-name">
          <span>{{ $translate("News") }}</span>
        </div>
        <div class="row justify-content-center">

          <template v-for="(detail, index) in news" :key="detail.id">
            <div class="col-xl-6 col-md-8" v-if="index == 0">
              <div class="news-left">
                <div class="news-left-img">
                  <router-link :to="`/${lang}/news-detail/${detail.id}`">
                    <img :src="`${api_url}${detail.anons_image}`" alt="news" />
                  </router-link>
                </div>
                <div class="news-left-date">
                  <img src="/img/calendar.svg" alt="news" />
                  <span>{{ detail.date }}</span>
                </div>
                <div class="news-left-title">
                  <router-link :to="`/${lang}/news-detail/${detail.id}`">{{ detail.title }}</router-link>
                </div>
                <div class="news-left-description">
                  <span>{{ detail.description }}</span>
                </div>
              </div>
            </div>
          </template>
          
          <div class="col-xl-6 col-md-8">
            <template v-for="(detail, index) in news" :key="detail.id">
              <div class="news-right" v-if="index > 0">
                <div class="row">
                  <div class="col-xl-5">
                    <div class="news-right-img">
                      <router-link :to="`/${lang}/news-detail/${detail.id}`">
                        <img :src="`${api_url}${detail.anons_image}`" alt="news"/>
                      </router-link>
                    </div>
                  </div>
                  <div class="col-xl-7">
                    <div class="news-right-date">
                      <img src="/img/calendar.svg" alt="news" />
                      <span>{{ detail.date }}</span>
                    </div>
                    <div class="news-right-title">
                      <router-link :to="`/${lang}/news-detail/${detail.id}`">{{ detail.title }}</router-link>
                    </div>
                    <div class="news-right-description">
                      <span>{{ detail.description }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
          
        </div>
        <div class="all-link">
          <router-link :to="`/${lang}/news-list/1`">{{ $translate("See all") }}</router-link>
        </div>
      </div>
    </section>

    <section class="with">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-6" data-cue="slideInRight">
            <div class="with-left" v-if="trust">
              <div class="with-title">
                <span>{{ trust.title }}</span>
              </div>
              <div class="with-description">
                <span>{{ trust.description }}</span>
              </div>
              <div class="with-link">
                <router-link :to="`/${lang}/detail/${trust.id}?menu=${3}`">{{ $translate("More") }}</router-link>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6 position-relative" data-cue="slideInLeft">
            <div class="with-right">
              <div class="with-right-title">
                <span>{{ $translate("Services") }}</span>
              </div>
              <ul class="with-right-ul">

                <template v-for="(detail, index) in services" :key="detail.id">
                  <li>
                    <div class="with-li">
                      <div class="with-li-left">
                        <span>{{ index + 1 }}</span>
                      </div>
                      <div class="with-li-right">
                        <span>{{ detail.title }}</span>
                      </div>
                    </div>
                  </li>
                </template>
                                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="clients">
      <div class="container">
        <div class="main-title">
          <span>{{ $translate("Our clients") }}</span>
        </div>
        <div class="row">

          <template v-for="detail in clients" :key="detail.id">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="clients-out">
                <a :href="detail.link" target="_blank">
                  <div class="clients-in">
                    <div class="clients-img">
                      <img :src="api_url + detail.image" alt="clients">
                    </div>
                    <div class="client-title">
                      <span v-html="detail.title"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </template>
          
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="container">
        <div class="main-title">
          <span>{{ $translate("Contact us") }}</span>
        </div>
        <div class="main-decription">
          <span>{{ $translate("Have questions or want to use the service? Leave a request and we will contact you shortly") }}</span>
        </div>
        <div class="row">
          <div class="col-xl-6" data-cue="slideInLeft">
            <div class="contact-left">
              <form action="#" @submit.prevent="check_data" name="home_form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="contact-input">
                      <label for="name" class="form-label">{{ $translate("Fullname") }}*</label>
                      <input type="text" class="form-control" id="name" v-model="form.full_name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="contact-input">
                      <label for="phone" class="form-label">{{ $translate("Phone") }}*</label>
                      <input type="text" class="form-control" id="phone" v-model="form.phone">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="contact-input mt-3">
                      <label for="email" class="form-label">{{ $translate("Email") }}*</label>
                      <input type="email" class="form-control" id="email" v-model="form.email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="contact-input mt-3">
                      <label for="company" class="form-label">{{ $translate("Company") }}*</label>
                      <input type="text" class="form-control" id="company" v-model="form.company">
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="contact-input mt-3">
                      <label for="message" class="form-label">{{ $translate("Message") }}</label>
                      <textarea class="form-control" id="message" rows="3" v-model="form.message"></textarea>
                    </div>
                  </div>
                  <div class="col-xl-12 mt-xl-3">
                    <div class="row align-items-center">
                      <div class="col-xl-8">
                        <div class="form-spinner text-center mt-3" v-if="spinner">
                          <div class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>
                        <div class="alert alert-success mt-3" role="alert" v-if="success">
                          {{ $translate('Success data home') }}
                        </div>
                        <div class="alert alert-danger mt-3" role="alert" v-if="danger">
                          {{ $translate('Danger data home') }}
                        </div>
                      </div>
                      <div class="col-xl-4">
                        <div class="contact-submit mt-3 mb-3">
                          <button>{{ $translate("Send") }}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="contact-right" data-cues="slideInRight">
              <div class="phone">
                <div class="phone-left bg-green">
                  <img src="/img/contact-1.svg" alt="phone">
                </div>
                <div class="phone-right">
                  <div class="phone-title">
                    <span>{{ $translate("Phone") }}</span>
                  </div>
                  <div class="phone-number">
                    <a :href="`tel:${contact.phone}`">{{ contact.phone }}</a>
                  </div>
                </div>
              </div>
              <div class="phone">
                <div class="phone-left bg-blue">
                  <img src="/img/contact-2.svg" alt="phone">
                </div>
                <div class="phone-right">
                  <div class="phone-title">
                    <span>{{ $translate("Address") }}</span>
                  </div>
                  <div class="phone-number" v-html="contact.address"></div>
                </div>
              </div>
              <div class="phone">
                <div class="phone-left bg-green">
                  <img src="/img/contact-3.svg" alt="phone">
                </div>
                <div class="phone-right">
                  <div class="phone-title">
                    <span>{{ $translate("Email") }}</span>
                  </div>
                  <div class="phone-number">
                    <a :href="`mainto:${contact.email}`">{{ contact.email }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <myfooter></myfooter>
  </main>
</template>

<script>

import myfooter from '@/components/myfooter.vue';
import myheader from '@/components/myheader.vue';
import axios from 'axios';
import i18n from '@/i18n';

export default {
  name: "HomeView",
  components: {
    myfooter,
    myheader,
  },
  data() {
    return {
      lang: i18n.global.locale,
      api_url: process.env.VUE_APP_API_URL,
      branch: Array(),
      clients: Array(),
      news: Array(),
      contact: new Object(),
      directions: Array(),
      statistics: Array(),
      corporates: Array(),
      choose: Array(),
      pm: Array(),
      projects: Array(),
      trust: new Object(),
      services: Array(),
      video: Object(),
      form: {
        full_name: String(),
        phone: String(),
        email: String(),
        company: String(),
        message: String(),
        status: 0,
      },
      spinner: Boolean(false),
      success: Boolean(false),
      danger: Boolean(false),
    };
  },
  methods: {
    home() {
      $('.owl-pm .owl-carousel').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        autoplay: true,
        responsive: {
          0: {
            items: 1
          },
          768: {
            autoWidth:true,
          }
        }
      })
    },
    count() {
      var b = 0;
      $(window).scroll(function() {
        var oTop = $('.works').offset().top - window.innerHeight + 100;
        if (b == 0 && $(window).scrollTop() > oTop) {
          $('.works-right-top span').each(function() {
            var $this = $(this);
            var countTo = $(this).attr('data-count');
            var count2 = $(this).attr('data-text');
            $({
              countNum: $(this).text()
            }).animate({
                countNum: countTo
              },
              {
                duration: 3000,
                easing: 'swing',
                step: function() {
                  $this.text(Math.floor(this.countNum));
                },
                complete: function() {
                  $this.text(count2);
                }
              });
          });
          b = 1;
        }
      });
    },
    scrollCue() {
      scrollCue.init();
    },
    get_branch() {
      axios
        .get(`${this.api_url}/api/commands?lang=${this.lang}`)
        .then((response) => {
          this.branch = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_news() {
      axios
        .get(`${this.api_url}/api/news-component?lang=${this.lang}`)
        .then((response) => {
          this.news = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_clients() {
      axios
        .get(`${this.api_url}/api/category/3?lang=${this.lang}`)
        .then((response) => {
          this.clients = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_contact() {
      axios
        .get(`${this.api_url}/api/contact?lang=${this.lang}`)
        .then((response) => {
          this.contact = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_directions() {
      axios
        .get(`${this.api_url}/api/directions?lang=${this.lang}`)
        .then((response) => {
          this.directions = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_statistics() {
      axios
        .get(`${this.api_url}/api/statistics?lang=${this.lang}`)
        .then((response) => {
          this.statistics = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.count();
        })
    },
    get_corporates() {
      axios
        .get(`${this.api_url}/api/corporates?lang=${this.lang}`)
        .then((response) => {
          this.corporates = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_choose() {
      axios
        .get(`${this.api_url}/api/why-choose-us?lang=${this.lang}`)
        .then((response) => {
          this.choose = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_pm() {
      axios
        .get(`${this.api_url}/api/main-projects?lang=${this.lang}`)
        .then((response) => {
          this.pm = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.home();
        })
    },
    get_projects() {
      axios
        .get(`${this.api_url}/api/project-category?lang=${this.lang}`)
        .then((response) => {
          this.projects = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {})
    },
    get_trust() {
      axios
        .get(`${this.api_url}/api/trust?lang=${this.lang}`)
        .then((response) => {
          this.trust = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {})
    },
    get_services() {
      axios
        .get(`${this.api_url}/api/services?lang=${this.lang}`)
        .then((response) => {
          this.services = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {})
    },
    get_video() {
      axios
        .get(`${this.api_url}/api/main-page-video?lang=${this.lang}`)
        .then((response) => {
          this.video = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {})
    },
    check_data() {
      if (this.form.full_name) {
        document.getElementById('name').style.borderColor = 'green';
      } else {
        document.getElementById('name').style.borderColor = 'red';
      }
      if (this.form.phone) {
        document.getElementById('phone').style.borderColor = 'green';
      } else {
        document.getElementById('phone').style.borderColor = 'red';
      }
      if (this.form.email) {
        document.getElementById('email').style.borderColor = 'green';
      } else {
        document.getElementById('email').style.borderColor = 'red';
      }
      if (this.form.company) {
        document.getElementById('company').style.borderColor = 'green';
      } else {
        document.getElementById('company').style.borderColor = 'red';
      }
      if (this.form.message) {
        document.getElementById('message').style.borderColor = 'green';
      } else {
        document.getElementById('message').style.borderColor = 'red';
      }

      if (this.form.full_name && this.form.phone && this.form.email && this.form.company && this.form.message) {
        this.send_data();
        this.spinner = true;
      }
    },
    send_data() {
      let formData = new FormData();
      for (const key in this.form) {
        formData.append(key, this.form[key]);
      }
      axios
        .post(`${this.api_url}/api/application`, formData)
        .then((response) => {
            // console.log(response);
            this.success = true;
            this.spinner = false;
            this.clear_form();
        })
        .catch((error) => {
            // console.log(error);
            this.danger = true;
            this.spinner = false;
        })
    },
    clear_form() {
      this.form.full_name = '';
      this.form.phone = '';
      this.form.email = '';
      this.form.company = '';
      this.form.message = '';
    },
    separate_number(num) {
      return String(num).replace(/(?<!\..*)(\d)(?=(?:\d{3})+(?:\.|$))/g, '$1 ');
    },
  },
  computed: {},
  mounted() {
    this.scrollCue();
    this.get_branch();
    this.get_clients();
    this.get_news();
    this.get_contact();
    this.get_directions();
    this.get_statistics();
    this.get_corporates();
    this.get_choose();
    this.get_pm();
    this.get_projects();
    this.get_trust();
    this.get_services();
    this.get_video();
  },
};
</script>
