<template>
    <page :title="category_name"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <submenu></submenu>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="leader-list">

                        <template v-for="detail in list" :key="detail.id">
                            <div class="leader">
                                <div class="leader-row">
                                    <div class="leader-left">
                                        <div class="leader-image">
                                            <img :src="`${api_url}${detail.image}`" :alt="detail.title">
                                        </div>
                                    </div>
                                    <div class="leader-right">
                                        <div class="leader-name">
                                            <span>{{ detail.title }}</span>
                                        </div>
                                        <div class="leader-position">
                                            <span>{{ detail.position }}</span>
                                        </div>
                                        <div class="leader-data" v-if="detail.phone">
                                            <a :href="`tel:${detail.phone}`">
                                                <img src="/img/lead-1.svg" alt="leader">
                                                <span>{{ detail.phone }}</span>
                                            </a>
                                        </div>
                                        <div class="leader-data" v-if="detail.email">
                                            <a :href="`mailto:${detail.email}`">
                                                <img src="/img/lead-2.svg" alt="leader">
                                                <span>{{ detail.email }}</span>
                                            </a>
                                        </div>
                                        <div class="leader-data" v-if="detail.reception">
                                            <img src="/img/lead-3.svg" alt="leader">
                                            <span>{{ detail.reception }}</span>
                                        </div>
                                    </div>
                                </div>
                                <template v-if="detail.supervised">
                                    <div class="leader-title">
                                        <span>{{ $translate("Supervised destinations") }}</span>
                                    </div>
                                    <div class="leader-description">
                                        <div v-html="detail.supervised"></div>
                                    </div>
                                </template>
                            </div>
                        </template>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>

import page from '@/components/page.vue'
import myfooter from '@/components/myfooter.vue'
import i18n from '@/i18n'
import axios from 'axios'
import submenu from '@/components/submenu.vue'

export default {
    name: 'leader',
    components: {
        page,
        myfooter,
        submenu
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            id: this.$route.params.id,
            list: Array(),
        }
    },
    methods: {
        get_list() {
            axios
                .get(`${this.api_url}/api/managements/${this.id}?lang=${this.lang}`)
                .then((response) => {
                    this.list = response.data.data;
                    console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
    },
    computed: {
        category_name: function () {
            return this.list.length > 0 ? this.list[0].category : 'Title';
        }
    },
    mounted() {
        this.get_list();
    },
}
</script>