<template>
    <page :title="detail.category"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <left-news></left-news>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        <div class="detail-date">
                            <span>{{ detail.date }}</span>
                        </div>
                        <div class="detail-title">
                            <span>{{ detail.title }}</span>
                        </div>
                        <div class="detail-description" v-if="detail.description">
                            <span>{{ detail.description }}</span>
                        </div>
                        <div class="detail-image">
                            <div class="owl-carousel owl-theme">

                                <template v-if="detail.body_image">
                                    <div class="item" v-for="(tag, index) in split(detail.body_image)" :key="index">
                                        <div class="detail-image-in">
                                            <img :src="`${api_url}${tag}`" alt="uzinfocom">
                                        </div>
                                    </div>
                                </template>

                            </div>
                        </div>
                        <div class="detail-content">
                            <div v-html="detail.content"></div>
                        </div>
                        <div class="news-share">
                            <span>{{ $translate('Share') }}:</span>
                            <a :href="`https://telegram.me/share/url?url=${protocol}//${host}/${lang}/news-detail/${id}`" target="_blank">
                                <img src="/img/s-telegram.svg" alt="telegram">
                            </a>
                            <a :href="`https://www.facebook.com/sharer/sharer.php?u=${protocol}//${host}/${lang}/news-detail/${id}`" target="_blank">
                                <img src="/img/s-facebook.svg" alt="facebook">
                            </a>
                            <a :href="`https://www.instagram.com/sharer.php?u=${protocol}//${host}/${lang}/news-detail/${id}`" target="_blank">
                                <img src="/img/s-instagram.svg" alt="instagram">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>
import page from '@/components/page.vue'
import axios from 'axios'
import i18n from '@/i18n'
import myfooter from '@/components/myfooter.vue'
import LeftNews from '@/components/LeftNews.vue'

export default {
    name: 'news-detail',
    components: {
        page,
        myfooter,
        LeftNews
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            id: this.$route.params.id,
            detail: new Object(),
            protocol: location.protocol,
            host: location.host,
        }
    },
    methods: {
        get_detail() {
            axios
                .get(`${this.api_url}/api/pages/${this.id}?lang=${this.lang}`)
                .then((response) => {
                    this.detail = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.home();
                })
        },
        home() {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                dots: true,
                autoHeight: true,
                autoplay: true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:1
                    }
                }
            })
        },
        split(text) {
            return text.split(",");
        },
    },
    computed: {},
    mounted() {
        this.get_detail();
    },
}
</script>