<template>
    <page :title="$translate('News')"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <calendar></calendar>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="news-list">
                        
                        <template v-for="(detail, index) in list" :key="index">
                            <div class="news-date">
                                <div class="news-date-in">
                                    <span>{{ detail.date }}</span>
                                </div>
                            </div>
                            <template v-for="(tag, index) in detail.items" :key="index">
                                <div class="news-detail">
                                    <div class="news-detail-left">
                                        <div class="news-detail-clock">
                                            <span>{{ tag.time }}</span>
                                        </div>
                                    </div>
                                    <div class="news-detail-right">
                                        <div class="news-detail-title">
                                            <router-link :to="`/${lang}/news-detail/${tag.id}`">{{ tag.title }}</router-link>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="news-detail-image">
                                                    <router-link :to="`/${lang}/news-detail/${tag.id}`">
                                                        <img :src="`${api_url}${tag.anons_image}`" alt="news">
                                                    </router-link>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="news-detail-description">
                                                    <router-link :to="`/${lang}/news-detail/${tag.id}`">{{ tag.description }}</router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>

                        <paginate :pagination="pagination" @get-list-emit="get_list"></paginate>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>
import page from '@/components/page.vue'
import myfooter from '@/components/myfooter.vue'
import calendar from '@/components/calendar.vue'
import axios from 'axios'
import i18n from '@/i18n'
import Paginate from '@/components/paginate.vue'

export default {
    name: 'news-list',
    components: {
        page,
        myfooter,
        calendar,
        Paginate,
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            list: Array(),
            id: this.$route.params.id,
            pagination: new Object(),
        }
    },
    methods: {
        get_list(page = 1) {
            axios
                .get(`${this.api_url}/api/category/${this.id}?lang=${this.lang}&page=${page}&paginate=8`)
                .then((response) => {
                    this.list = response.data.data;
                    this.pagination = response.data;
                    // console.log(response);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
    },
    computed: {
        category_name: function () {
            return this.list.length > 0 ? this.list[0].category : 'Title';
        }
    },
    mounted() {
        this.get_list();
    },
}
</script>