<template>
    <page :title="category_name"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <submenu></submenu>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        <template v-for="(detail, index) in list" :key="index">
                            <div class="photo">
                                <div class="photo-title">
                                    <span>{{ detail.title }}</span>
                                </div>
                                <div class="photo-description" v-if="detail.description">
                                    <span>{{ detail.description }}</span>
                                </div>
                                <div class="photo-date">
                                    <span>{{ detail.date }}</span>
                                </div>
                                <div class="photo-list">
                                    <div class="row">
                                        <template v-for="(tag, index) in split(detail.anons_image)" :key="index">
                                            <div class="col-md-6">
                                                <div class="photo-out">
                                                    <a :data-fancybox="`gallery-${detail.id}`" :data-src="`${api_url}${tag}`">
                                                        <div class="photo-in anons">
                                                            <img :src="`${api_url}${tag}`" alt="photos">
                                                        </div>
                                                    </a>
                                                </div>                                            
                                            </div>
                                        </template>
                                    </div>
                                    <div class="row" v-if="detail.body_image">
                                        <template v-for="(tag, index) in split(detail.body_image)" :key="index">
                                            <div class="col-xl-3 col-md-6">
                                                <div class="photo-out">
                                                    <a :data-fancybox="`gallery-${detail.id}`" :data-src="`${api_url}${tag}`">
                                                        <div class="photo-in childrens">
                                                            <img :src="`${api_url}${tag}`" alt="photos">
                                                        </div>
                                                    </a>
                                                </div>                                            
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <paginate :pagination="pagination" @get-list-emit="get_list"></paginate>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>

import Page from '@/components/page.vue'
import axios from 'axios'
import i18n from '@/i18n'
import Submenu from '@/components/submenu.vue'
import Myfooter from '@/components/myfooter.vue'
import Paginate from '@/components/paginate.vue'

export default {
    name: 'Photogallery',
    props: {},
    components: {
        Page,
        Submenu,
        Myfooter,
        Paginate

    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            id: this.$route.params.id,
            list: Array(),
            pagination: new Object(),
        }
    },
    methods: {
        get_list(page = 1) {
            axios
                .get(`${this.api_url}/api/category/${this.id}?lang=${this.lang}&page=${page}&paginate=4`)
                .then((response) => {
                    this.list = response.data.data;
                    this.pagination = response.data.meta;
                    // console.log(response.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
        split(text) {
            return text.split(",");
        },
    },
    computed: {
        category_name: function () {
            return this.list.length > 0 ? this.list[0].category : 'Title';
        }
    },
    mounted() {
        this.get_list();
    },
}
</script>