<template>
    <page :title="$translate('Projects')"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <leftmenu @project-id="project_id" @project-all="project_all" :id="category_id"></leftmenu>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        <div class="list-title">
                            <span>{{ $translate("Working with us") }}</span>
                        </div>
                        <div class="list-out">
                            <div class="row">
                                <template v-for="detail in list" :key="detail.id">
                                    <div class="col-xxl-4 col-lg-6">
                                        <div class="list-in">
                                            <!-- <router-link :to="`/${lang}/project-detail/${detail.id}`"></router-link> -->
                                            <a :href="`/${lang}/project-detail/${detail.id}`">
                                                <div class="list-card">
                                                    <div class="list-icon">
                                                        <img :src="`${api_url}${detail.anons_image}`" alt="list">
                                                    </div>
                                                    <div class="list-domain">
                                                        <span>{{ detail.link }}</span>
                                                    </div>
                                                    <div class="list-text">
                                                        <span>{{ detail.title }}</span>
                                                    </div>
                                                    <div class="list-link">
                                                        <img src="/img/global.svg" alt="global">
                                                        <span>{{ $translate("More") }}</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <paginate :pagination="pagination" @get-list-emit="get_list"></paginate>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>

import page from '@/components/page.vue'
import myfooter from '@/components/myfooter.vue'
import leftmenu from '@/components/leftmenu.vue'
import i18n from '@/i18n'
import axios from 'axios'
import Paginate from '@/components/paginate.vue'

export default {
    name: 'projects',
    components: {
        page,
        myfooter,
        leftmenu,
        Paginate,
    },
    data() {
        return {
            lang: i18n.global.locale,
            api_url: process.env.VUE_APP_API_URL,
            list: Array(),
            category_id: this.$route.params.id,
            pagination: new Object(),
        }
    },
    methods: {
        get_list(page = 1) {
            axios
                .get(`${this.api_url}/api/projects/${this.category_id_c}?lang=${this.lang}&per_page=3&page=${page}`)
                .then((response) => {
                    this.list = response.data.data;
                    this.pagination = response.data.meta;
                    // console.log(response.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
        project_id(id) {
            this.category_id = id;
            this.get_list();
        },
        project_all() {
            this.category_id = 0;
            this.get_list();
        },
    },
    computed: {
        category_id_c: function () {
            return this.category_id == 0 ? '' : this.category_id;
        }
    },
    mounted() {
        this.get_list();
    },
}
</script>