<template>
    <page :title="detail.category"></page>
    <section class="local">
        <div class="page-container">
            <div class="local-in">
                <div class="local-title">
                    <span style="color: rgba(0, 0, 142, 1);">{{ detail.title }}</span>
                </div>
                <div class="row">
                    <div class="col-xl-6" v-if="detail.task">
                        <div class="local-title">
                            <span>{{ $translate("Task") }}</span>
                        </div>
                        <div class="local-content local-left">
                            <div v-html="detail.task"></div>
                        </div>
                    </div>
                    <div class="col-xl-6" v-if="detail.goal">
                        <div class="local-title">
                            <span>{{ $translate("Goal") }}</span>
                        </div>
                        <div class="local-content local-right">
                            <div v-html="detail.goal"></div>
                        </div>
                    </div>
                </div>
                <div class="locale-stat mt-xl-5" v-if="detail.stat_number_1">
                    <div class="local-title">
                        <span>{{ $translate("Project Statistics") }}</span>
                    </div>
                    <div class="row">
                        <div class="col-xxl-3 col-md-6" v-if="detail.stat_number_1">
                            <div class="local-stat-in">
                                <div class="local-stat-title">
                                    <span>{{ detail.stat_title_1 }}</span>
                                </div>
                                <div class="local-stat-number">
                                    <span class="left">{{ detail.stat_number_1 }}</span>
                                    <span class="right">{{ detail.stat_description_1 }}</span>
                                </div>
                                <div class="local-stat-description">
                                    <span>{{ detail.stat_content_1 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6" v-if="detail.stat_number_2">
                            <div class="local-stat-in">
                                <div class="local-stat-title">
                                    <span>{{ detail.stat_title_2 }}</span>
                                </div>
                                <div class="local-stat-number">
                                    <span class="left">{{ detail.stat_number_2 }}</span>
                                    <span class="right">{{ detail.stat_description_2 }}</span>
                                </div>
                                <div class="local-stat-description">
                                    <span>{{ detail.stat_content_2 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6" v-if="detail.stat_number_3">
                            <div class="local-stat-in">
                                <div class="local-stat-title">
                                    <span>{{ detail.stat_title_3 }}</span>
                                </div>
                                <div class="local-stat-number">
                                    <span class="left">{{ detail.stat_number_3 }}</span>
                                    <span class="right">{{ detail.stat_description_3 }}</span>
                                </div>
                                <div class="local-stat-description">
                                    <span>{{ detail.stat_content_3 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6" v-if="detail.stat_number_4">
                            <div class="local-stat-in">
                                <div class="local-stat-title">
                                    <span>{{ detail.stat_title_4 }}</span>
                                </div>
                                <div class="local-stat-number">
                                    <span class="left">{{ detail.stat_number_4 }}</span>
                                    <span class="right">{{ detail.stat_description_4 }}</span>
                                </div>
                                <div class="local-stat-description">
                                    <span>{{ detail.stat_content_4 }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-xl-5">
                    <div class="col-xl-6" v-if="detail.result">
                        <div class="local-title">
                            <span>{{ $translate("Result") }}</span>
                        </div>
                        <div class="local-content local-result">
                            <div v-html="detail.result"></div>
                        </div>
                    </div>
                    <div class="col-xl-6" v-if="detail.body_image">
                        <div class="locale-img">
                            <img :src="`${api_url}${detail.body_image}`" alt="image">
                        </div>
                    </div>
                </div>
                <div class="locale-nav">
                    <div class="locale-link">
                        <a :href="`http://${detail.link}`" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
                                <path d="M9.5,0A9.5,9.5,0,1,0,19,9.5,9.5,9.5,0,0,0,9.5,0Zm6.846,5.542H13.8a15.577,15.577,0,0,0-2.233-3.676,7.941,7.941,0,0,1,4.783,3.677ZM13.063,9.5a8.084,8.084,0,0,1-.377,2.375H6.314A8.084,8.084,0,0,1,5.938,9.5a8.084,8.084,0,0,1,.377-2.375h6.371A8.084,8.084,0,0,1,13.063,9.5ZM6.949,13.458h5.1A15.528,15.528,0,0,1,9.5,17.09a15.493,15.493,0,0,1-2.551-3.632Zm0-7.917A15.528,15.528,0,0,1,9.5,1.909a15.493,15.493,0,0,1,2.551,3.632Zm.492-3.677A15.577,15.577,0,0,0,5.2,5.542H2.654A7.941,7.941,0,0,1,7.442,1.865ZM1.948,7.125H4.671A9.513,9.513,0,0,0,4.354,9.5a9.513,9.513,0,0,0,.317,2.375H1.948a7.91,7.91,0,0,1,0-4.75Zm.706,6.333H5.2a15.577,15.577,0,0,0,2.237,3.677,7.941,7.941,0,0,1-4.787-3.677Zm8.908,3.677A15.577,15.577,0,0,0,13.8,13.458h2.55a7.941,7.941,0,0,1-4.783,3.677Zm5.489-5.26H14.329A9.513,9.513,0,0,0,14.646,9.5a9.513,9.513,0,0,0-.317-2.375H17.05a7.91,7.91,0,0,1,0,4.75Z"/>
                            </svg>
                            <span>{{ $translate("Go to the site") }}</span>
                        </a>
                    </div>
                    <div class="locale-app">
                        <a :href="detail.google_play" v-if="detail.google_play" target="_blank">
                            <img src="/img/a-play.svg" alt="play">
                        </a>
                        <a :href="detail.app_store" v-if="detail.app_store" target="_blank">
                            <img src="/img/a-ios.svg" alt="play">
                        </a>
                    </div>
                    <div class="point" v-if="detail.presentation">
                        <a :href="`${api_url}${detail.presentation}`" target="_blank">
                            <img src="/img/download.svg" alt="download">
                            <span>{{ $translate("Presentation project") }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>
import axios from 'axios'
import i18n from '@/i18n'
import page from '@/components/page.vue'
import myfooter from '@/components/myfooter.vue'

export default {
    name: 'project-detail',
    components: {
        page,
        myfooter,
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            id: this.$route.params.id,
            detail: new Object,
        }
    },
    methods: {
        get_detail() {
            axios
                .get(`${this.api_url}/api/project-detail/${this.id}?lang=${this.lang}`)
                .then((response) => {
                    this.detail = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
    },
    computed: {},
    mounted() {
        this.get_detail();
    },
}
</script>