<template>
    <page :title="$translate('Search')"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <submenu></submenu>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        <div class="sertificate-title">
                            <span>{{ search }}</span>
                        </div>
                        <template v-for="(detail, index) in list" :key="index">
                            <div class="card mt-3">
                                <div class="card-header">
                                    <b v-if="lang == 'oz'">{{ detail.translations[0].title }}</b>
                                    <b v-if="lang == 'uz'">{{ detail.translations[1].title }}</b>
                                    <b v-if="lang == 'ru'">{{ detail.translations[2].title }}</b>
                                    <b v-if="lang == 'en'">{{ detail.translations[3].title }}</b>
                                </div>
                                <div class="card-body">
                                    <p class="card-text" v-if="lang == 'oz'">{{ detail.translations[0].description }}</p>
                                    <p class="card-text" v-if="lang == 'uz'">{{ detail.translations[1].description }}</p>
                                    <p class="card-text" v-if="lang == 'ru'">{{ detail.translations[2].description }}</p>
                                    <p class="card-text" v-if="lang == 'en'">{{ detail.translations[3].description }}</p>
                                    <router-link class="btn btn-primary" v-if="detail.list_type_id == 1" :to="{ name: 'news-detail', params: { id: detail.id } }">{{ $translate("More") }}</router-link>
                                    <router-link class="btn btn-primary" v-else :to="{ name: 'detail', params: { id: detail.id } }">{{ $translate("More") }}</router-link>
                                </div>
                            </div>
                        </template>
                        <template v-if="list.length == 0">
                            <div class="search-not-result">
                                <span>{{ $translate("No result found") }}</span>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>

import Page from '@/components/page.vue'
import Submenu from '@/components/submenu.vue'
import axios from 'axios'
import i18n from '@/i18n'
import Myfooter from '@/components/myfooter.vue'

export default {
    name: 'search',
    props: {},
    components: {
        Page,
        Submenu,
        Myfooter
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            search: this.$route.query.search,
            list: Array(),
        }
    },
    methods: {
        get_list() {
            axios
                .get(`${this.api_url}/api/search?lang=${this.lang}&search=${this.search}`)
                .then((response) => {
                    this.list = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
    },
    computed: {},
    mounted() {
        this.get_list();
    },
}
</script>