<template>
    <page :title="category_name"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <submenu></submenu>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="news-list">
                        <div class="sertificate-title">
                            <span>{{ category_name }}</span>
                        </div>

                        <template v-for="(detail, index) in list" :key="index">
                            <div class="tender">
                                <router-link :to="`/${lang}/detail/${detail.id}?menu=${menu_id}`">
                                    <div class="tender-in">
                                        <div class="tender-title">
                                            <span>{{ detail.title }}</span>
                                        </div>
                                        <div class="tender-description">
                                            <span>{{ detail.description }}</span>
                                        </div>
                                        <div class="tender-date">
                                            <div class="tender-left">
                                                <img src="/img/calendar.svg" alt="calendar">
                                                <span>{{ detail.date }}</span>
                                            </div>
                                            <div class="tender-right">
                                                <span>{{ $translate("Active") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </router-link>
                            </div>
                        </template>
                        
                        <paginate :pagination="pagination" @get-list-emit="get_list"></paginate>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>
import i18n from '@/i18n'
import axios from 'axios'
import page from '@/components/page.vue'
import submenu from '@/components/submenu.vue'
import Myfooter from '@/components/myfooter.vue'
import Paginate from '@/components/paginate.vue'

export default {
    name: 'tender',
    props: {},
    components: {
        page,
        submenu,
        Myfooter,
        Paginate
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            id: this.$route.params.id,
            list: Array(),
            menu_id: this.$route.query.menu,
            pagination: new Object(),
        }
    },
    methods: {
        get_list(page = 1) {
            axios
                .get(`${this.api_url}/api/category/${this.id}?lang=${this.lang}&page=${page}`)
                .then((response) => {
                    this.list = response.data.data;
                    this.pagination = response.data.meta;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
    },
    computed: {
        category_name: function () {
            return this.list.length > 0 ? this.list[0].category : 'Title';
        }
    },
    mounted() {
        this.get_list();
    },
}
</script>