<template>
    <vacancy-page :title="$translate('Vacancies')" :count="1"></vacancy-page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <vacancy-left :id="id"></vacancy-left>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        <div class="vacancy-detail-title">
                            <span>{{ detail.title }}</span>
                        </div>
                        <div class="vacancy-year">
                            <span class="left">{{ $translate("Required work experience") }}:</span>
                            <span class="right">{{ detail.experience }}</span>
                        </div>
                        <div class="vacancy-year">
                            <span class="left">{{ $translate("Type of work") }}</span>
                            <template v-for="(tag, index) in split_text(String(detail.working_type))" :key="index">
                                <span class="right" v-if="tag == 1">{{ $translate("Full time") }}</span>
                                <span class="right" v-if="tag == 2">{{ $translate("Part time") }}</span>
                                <span class="right" v-if="tag == 3">{{ $translate("CPC") }}</span>
                            </template>
                        </div>
                        <div class="vacancy-sub-title">
                            <span>{{ $translate("Obligation") }}</span>
                        </div>
                        <div class="vacancy-description" v-html="detail.obligation"></div>
                        <div class="vacancy-sub-title">
                            <span>{{ $translate("Requirement") }}</span>
                        </div>
                        <div class="vacancy-description" v-html="detail.requirement"></div>
                        <div class="vacancy-sub-title">
                            <span>{{ $translate("Condition") }}</span>
                        </div>
                        <div class="vacancy-description" v-html="detail.condition"></div>
                        <div class="vacancy-date">
                            <img src="/img/calendar.svg" alt="calendar">
                            <span>{{ detail.date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>
import axios from 'axios'
import i18n from '@/i18n'
import VacancyPage from '@/components/VacancyPage.vue'
import Myfooter from '@/components/myfooter.vue'
import VacancyLeft from '@/components/VacancyLeft.vue'

export default {
    name: 'vacancy-detail',
    props: {},
    components: {
        VacancyPage,
        Myfooter,
        VacancyLeft
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            id: this.$route.params.id,
            detail: new Object(),
        }
    },
    methods: {
        get_detail() {
            axios
                .get(`${this.api_url}/api/vacancy/${this.id}?lang=${this.lang}`)
                .then((response) => {
                    this.detail = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
        split_text(text) {
            return text.split(",");
        },
    },
    computed: {},
    mounted() {
        this.get_detail();
    },
}
</script>