<template>
    <vacancy-page :title="$translate('Vacancies')" :count="count"></vacancy-page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <vacancy-left :id="0"></vacancy-left>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        
                        <template v-for="(detail, index) in list" :key="index">
                            <div class="vacancy">
                                <router-link :to="`/${lang}/vacancy-detail/${detail.id}`">
                                    <div class="vacancy-in">
                                        <div class="vacancy-title">
                                            <span>{{ detail.title }}</span>
                                        </div>
                                        <div class="vacancy-sub-title">
                                            <span>{{ $translate("Obligation") }}</span>
                                        </div>
                                        <div class="vacancy-description" v-html="detail.obligation"></div>
                                        <div class="vacancy-data">
                                            <div class="vacancy-date">
                                                <img src="/img/calendar.svg" alt="calendar">
                                                <span>{{ detail.date }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </router-link>
                            </div>
                        </template>
                        
                        <paginate :pagination="pagination" @get-list-emit="get_list"></paginate>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>
import axios from 'axios'
import i18n from '@/i18n'
import VacancyPage from '@/components/VacancyPage.vue'
import Myfooter from '@/components/myfooter.vue'
import VacancyLeft from '@/components/VacancyLeft.vue'
import Paginate from '@/components/paginate.vue'

export default {
    name: 'vacancy',
    props: {},
    components: {
        VacancyPage,
        Myfooter,
        VacancyLeft,
        Paginate
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            list: Array(),
            pagination: new Object(),
        }
    },
    methods: {
        get_list(page = 1) {
            axios
                .get(`${this.api_url}/api/vacancies?lang=${this.lang}&page=${page}`)
                .then((response) => {
                    this.list = response.data.data;
                    this.pagination = response.data.meta;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
    },
    computed: {
        count: function () {
            return this.list.length;
        }
    },
    mounted() {
        this.get_list();
    },
}
</script>