<template>
    <page :title="category_name"></page>
    <section class="list">
        <div class="page-container">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 pe-xl-0">
                    <submenu></submenu>
                </div>
                <div class="col-xxl-9 col-xl-8 ps-xl-0">
                    <div class="list-right">
                        <div class="photo">
                            <div class="row">
                                <template v-for="(detail, index) in list" :key="index">
                                    <div class="col-md-6">
                                        <template v-if="detail.media_type == 3">
                                            <!-- shu sayt -->
                                            <div class="video-out">
                                                <a
                                                    :href="`${api_url}${detail.video}`"
                                                    data-fancybox
                                                    data-type="html5video"
                                                >
                                                    <div class="video-in-out">
                                                        <img :src="`${api_url}${detail.image}`" alt="photos">
                                                    </div>
                                                </a>
                                            </div>
                                        </template>
                                        <template v-if="detail.media_type == 4">
                                            <!-- utube -->
                                        </template>
                                        <template v-if="detail.media_type == 5">
                                            <!-- youtube -->
                                            <div class="video-out">
                                                <a
                                                    :href="`https://youtu.be/${detail.video_code}`"
                                                    data-fancybox
                                                    data-type="html5video"
                                                >
                                                    <div class="video-in-out">
                                                        <img :src="`${api_url}${detail.image}`" alt="photos">
                                                    </div>
                                                </a>
                                            </div>
                                        </template>
                                        <div class="video-title">
                                            <span>{{ detail.title }}</span>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        
                        <paginate :pagination="pagination" @get-list-emit="get_list"></paginate>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <myfooter></myfooter>
</template>

<script>

import Page from '@/components/page.vue'
import axios from 'axios'
import i18n from '@/i18n'
import Submenu from '@/components/submenu.vue'
import Myfooter from '@/components/myfooter.vue'
import Paginate from '@/components/paginate.vue'

export default {
    name: 'Videogallery',
    props: {},
    components: {
        Page,
        Submenu,
        Myfooter,
        Paginate

    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            id: this.$route.params.id,
            list: Array(),
            pagination: new Object(),
        }
    },
    methods: {
        get_list(page = 1) {
            axios
                .get(`${this.api_url}/api/category/${this.id}?lang=${this.lang}&page=${page}`)
                .then((response) => {
                    this.list = response.data.data;
                    this.pagination = response.data.meta;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
        split(text) {
            return text.split(",");
        },
    },
    computed: {
        category_name: function () {
            return this.list.length > 0 ? this.list[0].category : 'Title';
        }
    },
    mounted() {
        this.get_list();
    },
}
</script>