<template>
  <div class="calendar">
    <div class="calendar-box">
      <table id="calendar" class="cal" month="10" year="2022">
        <thead>
          <tr>
            <td colspan="5"></td>
            <td class="prev">&lt;</td>
            <td class="next">&gt;</td>
          </tr>
          <tr>
            <td>Пн</td>
            <td>Вт</td>
            <td>Ср</td>
            <td>Чт</td>
            <td>Пт</td>
            <td>Сб</td>
            <td>Вс</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="cal-view">
        <button type="button" class="close closebtn">
          <span aria-hidden="true">x</span>
        </button>
        <ul class="cal-data"></ul>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '@/i18n';
import axios from 'axios';

export default {
  name: "calendar",
  components: {},
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      lang: i18n.global.locale,
      list: Array(),
    };
  },
  methods: {
    get_list() {
      axios
        .get(`${this.api_url}/api/calendar-news?lang=${this.lang}`)
        .then((response) => {
          this.list = response.data.data;
          this.cal(response.data.data, this.lang);
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {})
    },
    cal(list, lang) {

      $("#calendar .prev").click(function () {
        calendar(
          "calendar",
          $("#calendar").attr("year"),
          parseFloat($("#calendar").attr("month")) - 1,
          list,
          lang
        );
      });

      $("#calendar .next").click(function () {
        calendar(
          "calendar",
          $("#calendar").attr("year"),
          parseFloat($("#calendar").attr("month")) + 1,
          list,
          lang
        );
      });

      $(".calendar-box .cal-view .closebtn").click(function (e) {
        e.preventDefault();
        $(".calendar-box .cal-view").fadeOut();
      });

      function calendar(id, year, month, list, lang) {
        let eventsList = Array();

        eventsList = list;

        let monthsList = Array();

        monthsList = [
          { lang: 'uz', data: [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ] },
          { lang: 'oz', data: [ "Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun", "Iyul", "Avgust", "Sentyabr", "Oktyabr", "Noyabr", "Dekabr" ] },
          { lang: 'ru', data: [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ] },
          { lang: 'en', data: [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ] },
        ];

        monthsList = monthsList.filter((detail) => detail.lang == lang )[0].data;

        console.log(monthsList);

        var Dlast = new Date(year, month + 1, 0).getDate();
        var D = new Date(year, month, Dlast);
        var DNlast = new Date(D.getFullYear(), D.getMonth(), Dlast).getDay();
        var DNfirst = new Date(D.getFullYear(), D.getMonth(), 1).getDay();
        var calendar = "<tr>";
        var month = monthsList;

        if (DNfirst != 0) {
          for (var i = 1; i < DNfirst; i++) calendar += "<td>";
        } else {
          for (var i = 0; i < 6; i++) calendar += "<td>";
        }

        for (var i = 1; i <= Dlast; i++) {
          var clalEvent = [];
          for (var j = 0; j < eventsList.length; j++) {
            if (typeof eventsList[j] != "undefined") {
              var dat = new Date(eventsList[j].date);
              if (
                D.getFullYear() == dat.getFullYear() &&
                D.getMonth() == dat.getMonth() &&
                i == dat.getDate()
              ) {
                clalEvent.push(eventsList[j]);
              }
            }
          }

          if (clalEvent.length > 0) {
            calendar += '<td class="active" day="' + i + '">' + i;
          } else {
            //console.log('0:'+i+' 1:'+new Date().getDate()+ ' 2:'+ D.getFullYear()+' 3:'+ new Date().getFullYear()+' 4:'+ D.getMonth()+' 5:'+ new Date().getMonth());
            if (
              i == new Date().getDate() &&
              D.getFullYear() == new Date().getFullYear() &&
              D.getMonth() == new Date().getMonth()
            ) {
              calendar += '<td class="today">' + i;
            } else {
              calendar += "<td>" + i;
            }
          }
          if (new Date(D.getFullYear(), D.getMonth(), i).getDay() == 0) {
            calendar += "<tr>";
          }
        }
        for (var i = DNlast; i < 7; i++) calendar += "<td>&nbsp;</td>";
          $("#" + id + " tbody").html(calendar);
          $("#" + id + " thead td").eq(0).html(month[D.getMonth()] + " " + D.getFullYear());
          $("#" + id + "").attr("month", D.getMonth());
          $("#" + id + "").attr("year", D.getFullYear());

          $("#calendar td").click(function () {
            if ($(this).hasClass("active")) {
              var day = $(this).attr("day");
              var month = $("#calendar").attr("month");
              var year = $("#calendar").attr("year");
              var calDetalls = String();
              for (var g = 0; g < eventsList.length; g++) {
                var dat = new Date(eventsList[g].date);
                if (
                  year == dat.getFullYear() &&
                  month == dat.getMonth() &&
                  day == dat.getDate()
                ) {
                  calDetalls += "<li>" + '<a href="/' + lang + "/news-detail/" + eventsList[g].id + '">' + eventsList[g].title + "</a></li>";
                }
              }
              $(".calendar-box .cal-view .cal-data").html(calDetalls);
              $(".calendar-box .cal-view").fadeIn();
              $("#calendar").addClass("blur");
            }
          });
      }

      calendar("calendar", new Date().getFullYear(), new Date().getMonth(), list, lang);

    },
  },
  computed: {},
  mounted() {
    this.get_list();
  },
};
</script>

<style>
.calendar {
  background-color: rgba(237, 238, 255, 1);
  padding: 25px 15px 15px 15px;
}
#calendar {
  margin-left: auto;
  margin-right: auto;
}
.cal-view {
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.calendar table {}
.calendar table thead {}
.calendar table thead tr td {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.prev {
  border-radius: 50%;
  cursor: pointer;
}
.prev:hover {
  background-color: rgba(255, 255, 255, 1);
}
.next {
  border-radius: 50%;
  cursor: pointer;
}
.next:hover {
  background-color: rgba(255, 255, 255, 1);
}
.calendar table tbody {}
.calendar table tbody tr {}
.calendar table tbody tr td {
  padding: 8px 10px;
  position: relative;
  z-index: 1;
  width: 42px;
  height: 42px;
  text-align: center;
}
.calendar table tbody tr td.active {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}
.calendar table tbody tr td.active::after {
  position: absolute;
  content: '';
  width: 38px;
  height: 38px;
  background-color: rgba(0, 29, 152, 1);
  border-radius: 50%;
  left: 2px;
  top: 2px;
  z-index: -1;
}
.closebtn {
  border: 1px solid rgba(0, 29, 152, 1);
  background-color: rgba(0, 29, 152, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  display: block;
  margin-left: auto;
}
.closebtn {}
.cal-data {
  margin-top: 10px;
}
.cal-data li {}
.cal-data li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(64, 64, 64, 1.0);
  border-top: 1px solid rgba(0, 29, 152, 0.3);
}
.cal-data li a:hover {
  color: rgba(0, 29, 152, 1);
}
</style>