<template>
    <div class="left-news">
        <div class="left-news-title">
            <span>Сўнгги янгиликлар</span>
        </div>
        
        <template v-for="(detail, index) in list" :key="index">
            <div class="left-news-detail">
                <router-link :to="`/${lang}/news-detail/${detail.id}`">
                    <div class="left-news-in">
                        <div class="left-news-date">
                            <span class="left-month">{{ get_month(split(detail.date)[1]) }}</span>
                            <span class="left-date">{{ split(detail.date)[0] }}</span>
                            <span class="left-year">{{ split(detail.date)[2] }}</span>
                        </div>
                        <div class="left-news-name">
                            <span>{{ detail.title }}</span>
                        </div>
                    </div>
                </router-link>
            </div>
        </template>
        
    </div>
</template>

<script>
import i18n from '@/i18n'
import axios from 'axios'

export default {
    name: 'LeftNews',
    props: {},
    components: {},
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            list: Array(),
        }
    },
    methods: {
        get_list() {
            axios
                .get(`${this.api_url}/api/news-component?lang=${this.lang}`)
                .then((response) => {
                    this.list = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
        split(text) {
            return text.split('.');
        },
        get_month(id) {
            id = id - 1;
            let month = [
                { lang: 'uz', data: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'] },
                { lang: 'oz', data: ['Yan', 'Fev', 'Mar', 'Apr', 'May', 'Iyn', 'Iyl', 'Avg', 'Sen', 'Okt', 'Noy', 'Dek'] },
                { lang: 'ru', data: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'] },
                { lang: 'en', data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] },
            ];
            const a = month.filter((detail) => detail.lang == this.lang)
            return a[0].data[id];
        },
    },
    computed: {},
    mounted() {
        this.get_list();
    },
}
</script>