<template>
    <div class="list-left">
        <ul>
            <li>
                <button @click="project_all" :class="[ id == 0 ? 'active' : '' ]" >{{ $translate('All projects') }}</button>
            </li>
            <template v-for="detail in menu" :key="detail.id">
                <li v-if="detail.type == 1">
                    <button :class="[ detail.id == id ? 'active' : '' ]" @click="project_id(detail.id)">{{ detail.title }}</button>
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
import i18n from '@/i18n'
import axios from 'axios'

export default {
    name: 'leftmenu',
    props: {
        id: Number(),
    },
    components: {},
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            menu: Array(),
        }
    },
    methods: {
        get_menu() {
            axios
                .get(`${this.api_url}/api/project-category?lang=${this.lang}`)
                .then((response) => {
                    this.menu = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        project_id(id) {
            this.$emit('project-id', id);
        },
        project_all() {
            this.$emit('project-all');
        },
    },
    computed: {},
    mounted() {
        this.get_menu();
    },
}
</script>