<template>
  <section :class="[ location_content ? 'location-content' : 'location-content z-in' ]">
    <button @click="location_show" class="close">
      <img src="/img/close.svg" alt="close">
    </button>
    <div id="leaflet"></div>
  </section>
  <section class="location">
    <div class="container">
      <div class="location-in">
        <button @click="location_show">
          <img src="/img/location.svg" alt="location">
          <span>{{ $translate('View map') }}</span>
        </button>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <div class="footer-left">
            <div class="f-logo">
              <a href="#">
                <img src="/img/f-uzinfocom.svg" alt="uzinfocom" />
              </a>
            </div>
            <div class="f-social">
              <template v-for="detail in social" :key="detail.id">
                <a :href="detail.link" target="_blank">
                  <img :src="`${api_url}${detail.image}`" alt="social" />
                </a>
              </template>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="f-menu">
            <div class="row">

              <template v-for="detail in menu" :key="detail.id">
                <div class="col-xl-6">
                  <li>
                    <router-link :to="`/${lang}${detail.link}`" v-if="detail.link_type == 1">
                      <img src="/img/menu-right.svg" alt="img">
                      <span>{{ detail.title }}</span>
                    </router-link>
                    <router-link :to="`/${lang}${detail.link}`" v-if="detail.link_type == 2">
                      <img src="/img/menu-right.svg" alt="img">
                      <span>{{ detail.title }}</span>
                    </router-link>
                    <router-link :to="`/${lang}${detail.link}`" v-if="detail.link_type == 3" target="_blank">
                      <img src="/img/menu-right.svg" alt="img">
                      <span>{{ detail.title }}</span>
                    </router-link>
                    <a :href="detail.link" v-if="detail.link_type == 4">
                      <img src="/img/menu-right.svg" alt="img">
                      <span>{{ detail.title }}</span>
                    </a>
                    <a :href="detail.link" v-if="detail.link_type == 5" target="_blank">
                      <img src="/img/menu-right.svg" alt="img">
                      <span>{{ detail.title }}</span>
                    </a>
                  </li>
                </div>
              </template>

            </div>
          </div>
        </div>

      </div>
      <div class="row mt-3">
        <div class="col-xl-4 pe-xl-0 mt-xl-4">
          <div class="f-card f-1">
            <div class="f-card-left">
              <img src="/img/f-1.svg" alt="phone" />
            </div>
            <div class="f-card-right">
              <div class="f-card-title">
                <span>{{ $translate("Phone") }}</span>
              </div>
              <div class="f-card-number">
                <a :href="`tel:${contact.phone}`">{{ contact.phone }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 ps-xl-0 pe-xl-0 mt-xl-4">
          <div class="f-card f-2">
            <div class="f-card-left">
              <img src="/img/f-2.svg" alt="phone" />
            </div>
            <div class="f-card-right">
              <div class="f-card-title">
                <span>{{ $translate("Address") }}</span>
              </div>
              <div class="f-card-number">
                <span v-html="contact.address"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 ps-xl-0 mt-xl-4">
          <div class="f-card f-3">
            <div class="f-card-left">
              <img src="/img/f-3.svg" alt="phone" />
            </div>
            <div class="f-card-right">
              <div class="f-card-title">
                <span>{{ $translate("Email") }}</span>
              </div>
              <div class="f-card-number">
                <a :href="`mailto:${contact.email}`">{{ contact.email }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copy">
        <span>&copy; 2003 - 2023 <span v-html="$translate('Single integrator for the creation and support of public information systems UZINFOCOM')"></span></span>
      </div>
    </div>
  </footer>
  <div class="home-social">
    <ul>
      <template v-for="detail in social" :key="detail.id">
        <li>
          <a :href="detail.link" target="_blank">
            <img :src="`${api_url}${detail.image}`" alt="social" />
          </a>
        </li>
      </template>
    </ul>
  </div>
  <div class="home-top">
    <button @click="home_top">
      <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" viewBox="0 0 76 76">
        <g transform="translate(-1706.963 -4370.963)">
          <circle id="Эллипс_95" data-name="Эллипс 95" cx="38" cy="38" r="38" transform="translate(1706.963 4370.963)" fill="#fff"/>
          <g transform="translate(1725.191 4389.981)">
            <path d="M10.517,26.612a1.842,1.842,0,0,1,0-2.6l9.1-9.069a1.833,1.833,0,0,1,2.529-.057l8.964,8.936a1.832,1.832,0,1,1-2.586,2.6l-7.7-7.586-7.709,7.785A1.833,1.833,0,0,1,10.517,26.612Z" transform="translate(-1.049 -2.534)" fill="#012c6e"/>
            <path d="M3.375,23.147A19.772,19.772,0,1,1,23.147,42.919,19.769,19.769,0,0,1,3.375,23.147Zm31.6,11.825A16.724,16.724,0,1,0,11.322,11.322,16.724,16.724,0,1,0,34.973,34.973Z" transform="translate(-3.375 -3.375)" fill="#012c6e"/>
          </g>
        </g>
      </svg>
    </button>
  </div>
</template>

<script>
import axios from 'axios';
import i18n from '@/i18n';

export default {
  name: "myfooter",
  components: {},
  data() {
    return {
      contact: new Object(),
      lang: i18n.global.locale,
      api_url: process.env.VUE_APP_API_URL,
      menu: Array(),
      social: Array(),
      top_show: Boolean(false),
      location_content: Boolean(false),
      leaflet: Boolean(true),
    };
  },
  methods: {
    get_contact() {
      axios
        .get(`${this.api_url}/api/contact?lang=${this.lang}`)
        .then((response) => {
          this.contact = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_menu() {
      axios
        .get(`${this.api_url}/api/footer?lang=${this.lang}`)
        .then((response) => {
          this.menu = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    get_social() {
      axios
        .get(`${this.api_url}/api/socials?lang=${this.lang}`)
        .then((response) => {
          this.social = response.data.data;
          // console.log(response.data.data);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    home_top() {
      window.scrollTo(0, 0);
    },
    location(x, y) {
      var map = L.map('leaflet', { center: [x, y], zoom: 13 });
      let open_street = L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
      let google_street = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {subdomains:['mt0','mt1','mt2','mt3']});
      let google_satellite = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}' , {subdomains:['mt0','mt1','mt2','mt3']});
      let google_hybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {subdomains:['mt0','mt1','mt2','mt3']});
      L.marker([x, y]).addTo(map);
      let baseMaps = {
          "Open Street Map": open_street,
          "Google Streets": google_street,
          "Google Satellite": google_satellite,
          "Google Hybrid": google_hybrid,
      };
      google_street.addTo(map);
      L.control.layers(baseMaps, null, {}).addTo(map);
    },
    location_show() {
      this.location_content = !this.location_content;
      let x = this.contact.latitude;
      let y = this.contact.longitude;
      if (this.leaflet) {
        this.location(x, y);
        this.leaflet = false;
      }
    },
  },
  computed: {},
  mounted() {
    this.get_contact();
    this.get_menu();
    this.get_social();
  },
};
</script>
<style scoped>
.location-content {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 10;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
}
#leaflet {
  height: 80vh;
  width: 100%;
}
.z-in {
  opacity: 0;
  z-index: -20;
}
.close {
  position: absolute;
  right: 15px;
  top: 30px;
  border: none;
  background-color: transparent;
  transition: 0.2s;
}
.close:hover {
  transform: scale(1.25);
}
@media (min-width: 1200px) {
  .location-content {
    padding-left: 100px;
    padding-right: 100px;
  }
}
</style>