<template>
    <div class="full-bars">
        <button @click="full_show">
            <svg fill="rgba(255, 255, 255, 1)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">
                <path d="M2 11H22V13H2zM2 5H22V7H2zM2 17H22V19H2z"/>
            </svg>
        </button>
    </div>
    <div class="full-menu" v-if="full_menu">
        <div class="full-in">
            <div class="b-container">
                <div class="full">
                    <treefull :menus="menu"></treefull>
                    <ul class="ms-3">
                        <li>
                            <a href="#">{{ $translate('Projects') }}</a>
                            <ul>
                                <template v-for="(detail, index) in list" :key="index">
                                    <li v-if="detail.type == 1">
                                        <router-link :to="`/${lang}/projects/${detail.id}`">{{ detail.title }}</router-link>
                                    </li>
                                </template>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="search-screen" v-if="search_btn">
        <div class="search-screen-in">
            <form :action="`/${lang}/search`" method="get">
                <input type="search" :placeholder="$translate('Search')" name="search" required>
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25.652" height="25.653" viewBox="0 0 25.652 25.653">
                        <path d="M36.338,34.825l-6.24-6.24A10.685,10.685,0,1,0,28.59,30.1l6.235,6.235a1.07,1.07,0,0,0,1.513-1.513Zm-23.2-13.057A8.628,8.628,0,1,1,21.764,30.4,8.629,8.629,0,0,1,13.136,21.769Z" transform="translate(-11 -11)" fill="#043b87"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="menu">
        <nav class="navbar navbar-expand-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                <svg fill="rgba(255, 255, 255, 1)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M2 11H22V13H2zM2 5H22V7H2zM2 17H22V19H2z"/></svg>
            </button>
            <div class="collapse navbar-collapse" id="navbar-nav">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <template v-for="detail in menu" :key="detail.id">
                        <li class="nav-item" v-if="detail.submenus.length == 0">
                            <router-link class="nav-link" :to="`/${lang}${detail.link}`" v-if="detail.link_type == 1">{{ detail.title }}</router-link>
                            <router-link class="nav-link" :to="`/${lang}${detail.link}`" v-if="detail.link_type == 2">{{ detail.title }}</router-link>
                            <router-link class="nav-link" :to="`/${lang}${detail.link}`" v-if="detail.link_type == 3" target="_blank">{{ detail.title }}</router-link>
                            <a class="dropdown-item" :href="detail.link" v-if="detail.link_type == 4">{{ detail.title }}</a>
                            <a class="dropdown-item" :href="detail.link" v-if="detail.link_type == 5" target="_blank">{{ detail.title }}</a>
                        </li>
                        <li class="nav-item dropdown" v-else>
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>{{ detail.title }}</span>
                                <img src="/img/drop.svg" alt="children">
                            </a>
                            <treemenu :datatree="detail.submenus"></treemenu>
                        </li>
                    </template>
                </ul>
            </div>
        </nav>
        <div class="menu-right">
            <div class="special_box dropdown">
                <button class="eye-btn" type="button" id="menu-1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="31.935" height="23.952" viewBox="0 0 31.935 23.952">
                        <path d="M31.7,13.886h0C30.53,11.331,25.948,3,15.968,3S1.406,11.331.238,13.886a2.62,2.62,0,0,0,0,2.182c1.168,2.552,5.75,10.884,15.73,10.884S30.53,18.621,31.7,16.066A2.619,2.619,0,0,0,31.7,13.886Zm-15.73,10.4c-8.393,0-12.309-7.14-13.307-9.3,1-2.189,4.914-9.329,13.307-9.329,8.373,0,12.29,7.11,13.307,9.315C28.258,17.181,24.341,24.291,15.968,24.291Z" transform="translate(0 -3)"/>
                        <path d="M13.653,7a6.653,6.653,0,1,0,6.653,6.653A6.653,6.653,0,0,0,13.653,7Zm0,10.645a3.992,3.992,0,1,1,3.992-3.992A3.992,3.992,0,0,1,13.653,17.645Z" transform="translate(2.314 -1.677)"/>
                    </svg>
                </button>
                <div class="dropdown-menu specialViewArea no-propagation" aria-labelledby="menu-1">
                    <div class="triangle2"></div>
                    <div class="appearance">
                        <p class="special-title ">{{ $translate('view') }}</p>
                        <div class="squareAppearances">
                            <div class="squareBox spcNormal" data-toggle="tooltip" data-placement="bottom" data-original-title="Оддий кўриниш">A</div>
                        </div>
                        <div class="squareAppearances">
                            <div class="squareBox spcWhiteAndBlack" data-toggle="tooltip" data-placement="bottom" data-original-title="Оқ-қора кўриниш">A</div>
                        </div>
                        <div class="squareAppearances">
                            <div class="squareBox spcDark" data-toggle="tooltip" data-placement="bottom" data-original-title="Қоронғилашган кўриниш">A</div>
                        </div>
                        <div class="squareAppearances">
                            <div class="squareBox spcNoImage" data-toggle="tooltip" data-placement="bottom" data-original-title="Расмли"></div>
                        </div>
                    </div>
                    <div class="appearance">
                        <p class="special-sub-title">{{ $translate('font size') }}</p>
                        <div class="block blocked">
                            <div class="sliderText"><span class="range">0</span>{{ $translate('% zoom in to') }}</div>
                            <div id="fontSizer" class="defaultSlider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-search">
                <button @click="search_show()" :class="[ search_btn ? 'active' : 'no-active' ]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.693" height="27.693" viewBox="0 0 27.693 27.693">
                        <path d="M38.354,36.721l-6.737-6.737a11.535,11.535,0,1,0-1.628,1.639l6.731,6.731a1.155,1.155,0,0,0,1.633-1.633Zm-25.048-14.1a9.314,9.314,0,1,1,9.314,9.314A9.315,9.315,0,0,1,13.306,22.625Z" transform="translate(-11 -11)"/>
                    </svg>
                </button>
            </div>
            <div class="dropdown lang">
                <button class="lang-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ lang }}
                </button>
                <ul class="dropdown-menu">
                    <li v-if="lang !== 'uz'">
                        <button @click="locale('uz')">Ўз</button>
                    </li>
                    <li v-if="lang !== 'oz'">
                        <button @click="locale('oz')">O'z</button>
                    </li>
                    <li v-if="lang !== 'en'">
                        <button @click="locale('en')">En</button>
                    </li>
                    <li v-if="lang !== 'ru'">
                        <button @click="locale('ru')">Ру</button>
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</template>

<script>
import axios from "axios"
import i18n from '@/i18n'
import treemenu from './treemenu.vue'
import { mapActions } from "vuex"
import Treefull from './treefull.vue'

export default {
    name: 'myheader',
    components: {
        treemenu,
        Treefull,
    },
    data() {
        return {
            menu: Array(),
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            protocol: location.protocol,
            host: location.host,
            pathname: location.pathname.substring(3),
            search_btn: Boolean(false),
            messages: Array(),
            full_menu: Boolean(false),
            list: Array(),
        }
    },
    methods: {
        ...mapActions(['messages_action', 'menus_action']),
        get_menu() {
            axios
                .get(`${this.api_url}/api/menus?lang=${this.lang}`)
                .then((response) => {
                    this.menu = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.home_menu();
                })
        },
        locale(langa) {
            window.location.href = `${this.protocol}//${this.host}/${langa}${this.pathname}`
        },
        search_show() {
            this.search_btn = !this.search_btn;
        },
        full_show() {
            this.full_menu = !this.full_menu;
        },
        get_messages() {
            axios
                .get(`${this.api_url}/api/messages?lang=${this.lang}`)
                .then((response) => {
                    this.messages = response.data.data;
                    this.messages_action(response.data.data);
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        home_menu() {
            $('.menu .navbar-nav .dropdown').mouseleave(function() {
                if ($(window).width() >= 1200) {
                    $(this).removeClass('show');
                    $(this).children('.dropdown-menu').removeClass('show');
                }
            })
        },
        home_special() {
            var curUrl = window.location.href;
            var arCurUrl = curUrl.split('/');
            var noImageTitle = 'Без картинки';
            var setImageTitle = 'С картинкой';
            switch (arCurUrl[3]){
                case 'uz':
                    noImageTitle = 'Расмсиз';
                    setImageTitle = 'Расмли';
                    break;
                case 'oz':
                    noImageTitle = 'Rasmsiz';
                    setImageTitle = 'Rasmli';
                    break;
                case 'en':
                    noImageTitle = 'Without a picture';
                    setImageTitle = 'With a picture';
                    break;
            }

            function makeSetImage() {
                $('html').removeClass( "noImage" );
                //$('.spcImage').removeClass( "spcSetImage" );
                $('.spcNoImage').removeClass( "spcSetImage" );
                $('.spcNoImage').attr('data-original-title', setImageTitle);
                $.removeCookie('specialViewImage', {path: '/'});
            }

            function makeNoImage() {
                $('html').stop().addClass( "noImage" );
                $('.spcNoImage').addClass( "spcSetImage" );
                $('.spcNoImage').attr('data-original-title', noImageTitle);
                $.cookie("specialViewImage", 'noImage', {path: '/'});
            }

            function offImages(){
                if ($.cookie("specialViewImage") == 'noImage'){
                    makeSetImage();
                } else {
                    makeNoImage();
                }
            }

            var min = 14,
                max = 30;

            function setFontSize(size) {
                if (size < min) {
                    size = min;
                }
                if (size > max) {
                    size = max;
                }
                $('').css({'font-size': parseInt(size) + 12 + 'px'});/*26*/
                $('').css({'font-size': parseInt(size) + 10 + 'px'});/*24*/
                $('').css({'font-size': parseInt(size) + 8 + 'px'});/*24*/
                $('').css({'font-size': parseInt(size) + 6 + 'px'});/*20*/
                $('.detail-title span').css({'font-size': parseInt(size) + 10 + 'px'});/*18*/
                $('.detail-description span').css({'font-size': parseInt(size) + 4 + 'px'});/*18*/
                $('.detail-content p').css({'font-size': parseInt(size) + 2 + 'px'});/*18*/
                $('.detail-content ul li').css({'font-size': parseInt(size) + 2 + 'px'});/*18*/
                $('').css({'font-size': parseInt(size) + 2 + 'px'});/*18*/
                $('').css({'font-size': parseInt(size) - 2 + 'px'});/*12*/
                $('').css({'font-size': parseInt(size) - 2 + 'px'});/*10*/

                $('.text_title') .css({'font-size': size + 'px'});/*14*/

            }

            function makeNormal() {
                $('html').removeClass('blackAndWhite blackAndWhiteInvert');
                $.removeCookie('specialView', {path: '/'});
            }

            function makeBlackAndWhite() {
                makeNormal();
                $('html').addClass('blackAndWhite');
                $.cookie("specialView", 'blackAndWhite', {path: '/'});
            }

            function makeBlackAndWhiteDark() {
                makeNormal();
                $('html').addClass('blackAndWhiteInvert');
                $.cookie("specialView", 'blackAndWhiteInvert', {path: '/'});
            }

            function saveFontSize(size) {
                $.cookie("fontSize", size, {path: '/'});
            }
            function changeSliderText(sliderId, value) {
                var position = Math.round(Math.abs((value - min) * (100 / (max - min))));
                $('#' + sliderId).prev('.sliderText').children('.range').text(position);
            }

            $(document).ready(function () {
                var appearance = $.cookie("specialView");
                switch (appearance) {
                    case 'blackAndWhite':
                        makeBlackAndWhite();
                        break;
                    case 'blackAndWhiteInvert':
                        makeBlackAndWhiteDark();
                        break;
                }

                $('.no-propagation').click(function (e) {
                    e.stopPropagation();
                });

                $('.appearance .spcNormal').click(function () {
                    makeNormal();
                });
                $('.appearance .spcWhiteAndBlack').click(function () {
                    makeBlackAndWhite();

                });
                $('.appearance .spcDark').click(function () {
                    makeBlackAndWhiteDark();
                });
                $('.appearance .spcNoImage').click(function () {
                    offImages();
                });


                $('#fontSizer').slider({
                    min: min,
                    max: max,
                    range: "min",
                    slide: function (event, ui) {
                        setFontSize(ui.value);
                        changeSliderText('fontSizer', ui.value);
                    },
                    change: function (event, ui) {
                        saveFontSize(ui.value);
                    }
                });

                var fontSize = $.cookie("fontSize");
                if (typeof(fontSize) != 'undefined') {
                    $("#fontSizer").slider('value', fontSize);
                    setFontSize(fontSize);
                    changeSliderText('fontSizer', fontSize);
                }

                /****************zoomSizer********************/
                $('#zoomSizer').slider({
                    min: minzoom,
                    max: maxzoom,
                    range: "min",
                    slide: function (event, ui) {
                        setzoomSizer(ui.value);
                        changeSliderTextZoom('zoomSizer', ui.value);
                    },
                    change: function (event, ui) {
                        // savezoomSizer(ui.value);
                    }
                });

                var zoomSizer = $.cookie("zoomSizer");
                if (typeof(zoomSizer) != 'undefined') {
                    $("#zoomSizer").slider('value', zoomSizer);
                    setzoomSizer(zoomSizer);
                    changeSliderTextZoom('zoomSizer', zoomSizer);
                }

            });

            var minzoom = 0,
                maxzoom = 5; /** максимум 5 **/

            function savezoomSizer(size) {
                $.session("zoomSizer", size, {path: '/'});
            }

            function changeSliderTextZoom(sliderId, value) {
                var position = Math.round(Math.abs(100 - (20 * (maxzoom - value))));
                $('#' + sliderId).prev('.sliderZoom').children('.range').text(position);
            }
            function setzoomSizer(size) {
                if (size < minzoom) {
                    size = minzoom;
                }
                if (size > maxzoom) {
                    size = maxzoom;
                }
                $('body').css({
                    '-webkit-transform': 'scale(1.'+parseInt(size)+')',
                    '-moz-transform': 'scale(1.'+parseInt(size)+')',
                    '-ms-transform': 'scale(1.'+parseInt(size)+')',
                    'transform': 'scale(1.'+parseInt(size)+')',
                    '-webkit-transform-origin': 'top center',
                    '-moz-transform-origin': 'top center',
                    '-ms-transform-origin': 'top center',
                    'transform-origin': 'top center',
                });

            }
        },
        get_list() {
            axios
                .get(`${this.api_url}/api/project-category?lang=${this.lang}`)
                .then((response) => {
                    this.list = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
        },
    },
    computed: {},
    mounted() {
        this.get_menu();
        this.get_messages();
        this.home_special();
        document.title = this.$translate("site name");
        this.get_list();
    },
}
</script>