<template>
    <section class="page">
        <div class="page-container">
            <myheader></myheader>
            <div class="page-in">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4">
                        <div class="page-left">
                            <div class="page-left-in">
                                <div class="page-title">
                                    <span>{{ title }}</span>
                                </div>
                                <div class="page-home">
                                    <router-link :to="{ name: 'home' }">{{ $translate('Home') }}</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-8 ps-xl-0">
                        <div class="page-list">
                            <div class="project-row">

                                <template v-for="(detail, index) in projects" :key="detail.id">
                                    <template v-if="detail.type == 1">
                                        <div :class="`project-col icon id-${(index + 1) * 2}`">
                                            <router-link :to="`/${lang}/projects/${detail.id}`">
                                                <div class="project-in">
                                                    <div class="project-after"></div>
                                                    <div class="project-img">
                                                        <img :src="`${api_url}${detail.image}`" alt="alter">
                                                    </div>
                                                    <div class="project-name">
                                                        <span>{{ detail.title }}</span>
                                                    </div>
                                                </div>
                                            </router-link>
                                        </div>
                                    </template>
                                </template>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import i18n from '@/i18n'
import axios from 'axios'
import myheader from './myheader.vue'

export default {
    name: 'page',
    props: {
        title: String,
    },
    components: {
        myheader,
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            projects: Array(),
        }
    },
    methods: {
        get_projects() {
            axios
                .get(`${this.api_url}/api/main-projects-insight?lang=${this.lang}`)
                .then((response) => {
                    this.projects = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
    },
    computed: {},
    mounted() {
        this.get_projects();
    },
}
</script>