<template>
  <div class="my-pagination">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <button class="page-link" @click="get_list(1)" :disabled="pagination.current_page == 1">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li class="page-item">
          <button
            class="page-link"
            :disabled="pagination.current_page == 1"
            @click="get_list(pagination.current_page - 1)"
          >
            <span aria-hidden="true">&lt;</span>
          </button>
        </li>

        <li class="page-item" v-if="pagination.current_page > 3">
          <button
            class="page-link"
            @click="get_list(pagination.current_page - 3)"
          >
            {{ pagination.current_page - 3 }}
          </button>
        </li>

        <li class="page-item" v-if="pagination.current_page > 2">
          <button
            class="page-link"
            @click="get_list(pagination.current_page - 2)"
          >
            {{ pagination.current_page - 2 }}
          </button>
        </li>

        <li class="page-item" v-if="pagination.current_page > 1">
          <button
            class="page-link"
            @click="get_list(pagination.current_page - 1)"
          >
            {{ pagination.current_page - 1 }}
          </button>
        </li>

        <li class="page-item">
          <button
            class="page-link active"
            @click="get_list(pagination.current_page)"
          >
            {{ pagination.current_page }}
          </button>
        </li>

        <li
          class="page-item"
          v-if="pagination.current_page < pagination.last_page"
        >
          <button
            class="page-link"
            @click="get_list(pagination.current_page + 1)"
          >
            {{ pagination.current_page + 1 }}
          </button>
        </li>

        <li
          class="page-item"
          v-if="pagination.current_page + 1 < pagination.last_page"
        >
          <button
            class="page-link"
            @click="get_list(pagination.current_page + 2)"
          >
            {{ pagination.current_page + 2 }}
          </button>
        </li>

        <li
          class="page-item"
          v-if="pagination.current_page + 2 < pagination.last_page"
        >
          <button
            class="page-link"
            @click="get_list(pagination.current_page + 3)"
          >
            {{ pagination.current_page + 3 }}
          </button>
        </li>

        <li class="page-item">
          <button
            class="page-link"
            :disabled="pagination.current_page == pagination.last_page"
            @click="get_list(pagination.current_page + 1)"
          >
            <span aria-hidden="true">&gt;</span>
          </button>
        </li>

        <li class="page-item">
          <button class="page-link" @click="get_list(pagination.last_page)" :disabled="pagination.current_page == pagination.last_page">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
  export default {
    name: "paginate",
    props: {
      pagination: new Object(),
    },
    components: {},
    data() {
      return {};
    },
    methods: {
      get_list(page) {
        this.$emit('get-list-emit', page);
        window.scrollTo(0, 0, { behavior: 'smooth' });
      },
    },
    computed: {},
    mounted() {},
  }
</script>