<template>
    <div class="list-left">
        <ul>
            <template v-for="detail in list.submenus" :key="detail.id">
                <li v-if="detail.submenus.length == 0">
                    <router-link :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 1">{{ detail.title }}</router-link>
                    <router-link :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 2">{{ detail.title }}</router-link>
                    <router-link :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 3" target="_blank">{{ detail.title }}</router-link>
                    <a :href="detail.link" v-if="detail.link_type == 4">{{ detail.title }}</a>
                    <a :href="detail.link" v-if="detail.link_type == 5" target="_blank">{{ detail.title }}</a>
                    
                </li>
                <li v-else>
                    <a class="list-drop" data-bs-toggle="collapse" :href="`#id-${detail.id}`" role="button" :aria-expanded="[ detail.id == my_id ? 'true' : 'false' ]" :aria-controls="`id-${detail.id}`">
                        <span>{{ detail.title }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12.711" height="7.239" viewBox="0 0 12.711 7.239">
                            <path d="M19.013,24.454A.822.822,0,0,1,18.7,24.4a.853.853,0,0,1-.28-.2l-5.541-5.541a.77.77,0,0,1-.21-.6.861.861,0,0,1,.238-.6.7.7,0,0,1,.6-.238,1.052,1.052,0,0,1,.574.266l4.925,4.925,4.925-4.925a.914.914,0,0,1,.6-.252.662.662,0,0,1,.6.252.617.617,0,0,1,.238.588,1.09,1.09,0,0,1-.266.616L19.6,24.2a.853.853,0,0,1-.28.2.822.822,0,0,1-.308.056Z" transform="translate(-12.674 -17.215)"/>
                        </svg>
                    </a>
                    <ul :id="`id-${detail.id}`" :class="[ detail.id == my_id ? 'collapse show' : 'collapse' ]">
                        <template v-for="(tag, index) in detail.submenus" :key="index">
                            <li>
                                <router-link :to="`/${lang}${tag.link}?menu=${tag.parent_id}`" v-if="tag.link_type == 1">{{ tag.title }}</router-link>
                                <router-link :to="`/${lang}${tag.link}?menu=${tag.parent_id}`" v-if="tag.link_type == 2">{{ tag.title }}</router-link>
                                <router-link :to="`/${lang}${tag.link}?menu=${tag.parent_id}`" v-if="tag.link_type == 3" target="_blank">{{ tag.title }}</router-link>
                                <a :href="tag.link" v-if="tag.link_type == 4">{{ tag.title }}</a>
                                <a :href="tag.link" v-if="tag.link_type == 5" target="_blank">{{ tag.title }}</a>
                            </li>
                        </template>
                    </ul>
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
import axios from 'axios'
import i18n from '@/i18n'

export default {
    name: 'submenu',
    props: {
        id: Number(),
    },
    components: {},
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            list: Array(),
            menu_id: this.$route.query.menu,
            my_id: this.$route.query.menu,
        }
    },
    methods: {
        get_list() {
            axios
                .get(`${this.api_url}/api/menus/${this.menu_id_c}?lang=${this.lang}`)
                .then((response) => {
                    // this.list = response.data.data;
                    // console.log(response.data.data);
                    this.get_menus(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
        get_menus(menu) {
            if (menu.parent_id == null) {
                this.list = menu;
            } else {
                this.menu_id = menu.parent_id;
                this.get_list();
            }
        },
    },
    computed: {
        menu_id_c: function () {
            let id = Number();
            switch (this.menu_id) {
                case undefined:
                    id = 3;
                    break;
                case 'null':
                    id = 3;
                    break;
                default:
                    id = this.menu_id;
                    break;
            }
            return id;
        }
    },
    mounted() {
        this.get_list();
    },
}
</script>