<template>
    <ul>
        <template v-for="(detail, index) in menus" :key="index">
            <li v-if="detail.submenus.length == 0">
                <router-link class="dropdown-item" :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 1">{{ detail.title }}</router-link>
                <router-link class="dropdown-item" :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 2">{{ detail.title }}</router-link>
                <router-link class="dropdown-item" :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 3" target="_blank">{{ detail.title }}</router-link>
                <a class="dropdown-item" :href="detail.link" v-if="detail.link_type == 4">{{ detail.title }}</a>
                <a class="dropdown-item" :href="detail.link" v-if="detail.link_type == 5" target="_blank">{{ detail.title }}</a>
            </li>
            <li class="dropdown" v-else>
                <a href="#">{{ detail.title }}</a>
                <treefull :menus="detail.submenus"></treefull>
            </li>
        </template>
    </ul>
</template>

<script>
import i18n from '@/i18n'

export default {
    name: 'treefull',
    props: {
        menus: Array(),
    },
    components: {},
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            menu: Array(),
        }
    },
    methods: {},
    computed: {},
    mounted() {},
}
</script>