<template>
    <ul class="dropdown-menu">
        <template v-for="detail in datatree" :key="detail.id">
            <li v-if="detail.submenus.length == 0">
                <router-link class="dropdown-item" :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 1">{{ detail.title }}</router-link>
                <router-link class="dropdown-item" :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 2">{{ detail.title }}</router-link>
                <router-link class="dropdown-item" :to="`/${lang}${detail.link}?menu=${detail.parent_id}`" v-if="detail.link_type == 3" target="_blank">{{ detail.title }}</router-link>
                <a class="dropdown-item" :href="detail.link" v-if="detail.link_type == 4">{{ detail.title }}</a>
                <a class="dropdown-item" :href="detail.link" v-if="detail.link_type == 5" target="_blank">{{ detail.title }}</a>
            </li>
            <li class="dropdown" v-else>
                <a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>{{ detail.title }}</span>
                    <img class="menu-right" src="/img/m-right.svg" alt="right">
                </a>
                <treemenu :datatree="detail.submenus"></treemenu>
            </li>
        </template>
    </ul>
</template>

<script>
import i18n from '@/i18n'

export default {
    name: 'treemenu',
    props: ["datatree"],
    components: {},
    data() {
        return {
            lang: i18n.global.locale,
        }
    },
    methods: {},
    computed: {},
    mounted() {},
}
</script>