<template>
    <section class="page">
        <div class="page-container">
            <myheader></myheader>
            <div class="page-in">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4">
                        <div class="page-left">
                            <div class="page-left-in">
                                <div class="page-title">
                                    <span>{{ title }}</span>
                                </div>
                                <div class="page-home">
                                    <router-link :to="{ name: 'home' }">{{ $translate('Home') }}</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-8 ps-xl-0">

                        <div class="row">
                            <div class="col-xxl-4 pe-xxl-0">
                                <div class="vacancy-count">
                                    <a href="#">
                                        <div class="vacancy-count-in">
                                            <div>
                                                <span class="vacancy-count-number">{{ count }}</span>
                                                <span class="vacancy-count-text">{{ $translate('Vacancy') }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6 ps-xxl-0 pe-xxl-0">
                                <div class="student">
                                    <a href="#">
                                        <div class="student-in">
                                            <div class="student-text">
                                                <span>{{ $translate('Student') }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6 ps-xxl-0">
                                <div class="echar">
                                    <a :href="`mailto:${ $translate('hr@uzinfocom.uz') }`">
                                        <div class="echar-in">
                                            <span>{{ $translate('hr@uzinfocom.uz') }}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import i18n from '@/i18n'
import axios from 'axios'
import myheader from './myheader.vue'

export default {
    name: 'VacancyPage',
    props: {
        title: String(),
        count: Number(),
    },
    components: {
        myheader,
    },
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            projects: Array(),
        }
    },
    methods: {
        get_projects() {
            axios
                .get(`${this.api_url}/api/main-projects-insight?lang=${this.lang}`)
                .then((response) => {
                    this.projects = response.data.data;
                    // console.log(response.data.data);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {})
        },
    },
    computed: {},
    mounted() {
        this.get_projects();
    },
}
</script>