<template>
    <form @submit.prevent="check_form" name="vacancy">
        <div class="send">
            <div class="send-title">
                <span>{{ $translate('Respond') }}</span>
            </div>
            <div class="send-data">
                <label for="name">{{ $translate('Full name') }}*</label>
                <input type="text" id="name" v-model="form.full_name" @change="input_valid">
            </div>
            <div class="send-data">
                <label for="education">{{ $translate('Education') }}*</label>
                <input type="text" id="education" v-model="form.education" @change="input_valid">
            </div>
            <div class="send-data">
                <label for="graduation_date">{{ $translate('Graduation date') }}*</label>
                <input type="text" id="graduation_date" v-model="form.graduation_date" @change="input_valid">
            </div>
            <div class="send-data">
                <label for="email">{{ $translate('Email') }}*</label>
                <input type="email" id="email" v-model="form.email" @change="input_valid">
            </div>
            <div class="send-data">
                <label for="phone">{{ $translate('Phone') }}*</label>
                <input type="text" id="phone" v-model="form.phone" @change="input_valid">
            </div>
            <div class="send-data">
                <label for="comment">{{ $translate('Comment') }}*</label>
                <textarea name="text" id="comment" rows="4" v-model="form.comment" @change="input_valid"></textarea>
            </div>
            <div class="send-file">
                <div class="send-icon">
                    <label for="file">
                        <img src="/img/file.svg" alt="file">
                    </label>
                </div>
                <div class="send-right">
                    <input type="file" id="file" @change="send_file">
                    <label for="file">
                        <span id="file-text">{{ $translate('Attach your resume or other file (pdf, doc, docx, rtf, jpeg, jpg, png)') }}</span>
                    </label>
                </div>
            </div>
            <div class="send-file">
                <div class="send-icon text-center">
                    <input type="checkbox" class="form-check-input" id="check" v-model="form.confirm" @change="check_valid">
                </div>
                <div class="send-right">
                    <label for="check">
                        <span id="check-text">{{ $translate('I consent to the processing of my personal data In accordance with Article 9 of the Federal Law of July 27, 2006 N 152-FZ "On Personal Data"') }}</span>
                    </label>                
                </div>
            </div>
            <div class="alert alert-success mt-3" role="alert" v-if="success">
                {{ $translate('Success data') }}
            </div>
            <div class="alert alert-danger mt-3" role="alert" v-if="danger">
                {{ $translate('Danger data') }}
            </div>
            <div class="form-spinner text-center mt-3" v-if="spinner">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="send-button">
                <button type="submit">{{ $translate('Send') }}</button>
            </div>
        </div>
    </form>
</template>

<script>
import axios from 'axios'
import i18n from '@/i18n'

export default {
    name: 'VacancyLeft',
    props: {
        id: Number(),
    },
    components: {},
    data() {
        return {
            api_url: process.env.VUE_APP_API_URL,
            lang: i18n.global.locale,
            form: {
                full_name: String(),
                education: String(),
                graduation_date: String(),
                email: String(),
                phone: String(),
                comment: String(),
                resume: String(),
                confirm: Boolean(false),
                vacancy_id: this.id,
            },
            spinner: Boolean(false),
            success: Boolean(false),
            danger: Boolean(false),
        }
    },
    methods: {
        send_data() {
            let formData = new FormData();
            for (const key in this.form) {
                formData.append(key, this.form[key]);
            }
            axios
                .post(`${this.api_url}/api/vacancy?lang=${this.lang}`, formData)
                .then((response) => {
                    // console.log(response);
                    this.spinner = false;
                    this.success = true;
                    this.clear_data();
                })
                .catch((error) => {
                    // console.log(error);
                    this.spinner = false;
                    this.danger = true;
                })
        },
        send_file(event) {
            this.form.resume = event.target.files[0];
            document.getElementById('file-text').style.color = 'green';
        },
        input_valid(event) {
            if (event.target.value.length > 0) {
                event.target.style.borderColor = 'green';
            } else {
                event.target.style.borderColor = 'red';
            }
        },
        check_valid(event) {
            if (this.form.confirm) {
                document.getElementById('check-text').style.color = 'green';
            } else {
                document.getElementById('check-text').style.color = 'red';
            }
        },
        check_form() {
            if (this.form.full_name) {
                document.getElementById('name').style.borderColor = 'green';
            } else {
                document.getElementById('name').style.borderColor = 'red';
            }
            if (this.form.education) {
                document.getElementById('education').style.borderColor = 'green';
            } else {
                document.getElementById('education').style.borderColor = 'red';
            }
            if (this.form.graduation_date) {
                document.getElementById('graduation_date').style.borderColor = 'green';
            } else {
                document.getElementById('graduation_date').style.borderColor = 'red';
            }
            if (this.form.email) {
                document.getElementById('email').style.borderColor = 'green';
            } else {
                document.getElementById('email').style.borderColor = 'red';
            }
            if (this.form.phone) {
                document.getElementById('phone').style.borderColor = 'green';
            } else {
                document.getElementById('phone').style.borderColor = 'red';
            }
            if (this.form.comment) {
                document.getElementById('comment').style.borderColor = 'green';
            } else {
                document.getElementById('comment').style.borderColor = 'red';
            }
            if (this.form.resume) {
                document.getElementById('file-text').style.color = 'green';
            } else {
                document.getElementById('file-text').style.color = 'red';
            }
            if (this.form.confirm) {
                document.getElementById('check-text').style.color = 'green';
            } else {
                document.getElementById('check-text').style.color = 'red';
            }

            if (this.form.full_name && this.form.education && this.form.graduation_date && this.form.email && this.form.phone && this.form.comment && this.form.resume && this.form.confirm) {
                this.send_data();
                this.spinner = true;
            } else {
                console.log(2);
            }
        },
        clear_data() {
            this.form = '';
        },
    },
    computed: {},
    mounted() {},
}
</script>
